<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<header class="top_header" style="background-image: url('/static/img/backgroundphoto.jpg')" th:fragment="startHeader" >
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="/account" target="_blank" th:text ="${#authentication.getName()}" style="color: #CED4DA"> </a>
            </div>
            <div class="col-md-1">
                <form action="/account/logout" method="post">
                    <input type="submit" th:value="logout"/>
                    <input
                            type="hidden"
                            th:name="${_csrf.parameterName}"
                            th:value="${_csrf.token}"/>
                </form>
            </div>

        </div>

        <div class="col-md-12">
            <div class="row">

                <div class="col-md-4">
                    <br />
                    <img style="width: 255px; height: 85px" src="/static/img/Logo.png" />
                </div>

                <nav class="main_mnu clearfix">
                    <button class="main_mnu_button hidden-md hidden-lg">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul>
                        <li class="active"><a th:href="@{'/account/organization/'+${#httpSession.getAttribute('organizationId').id}}"><img
                                src="/static/img/6.png"/></a></li>
                        <li class="active1"><a th:href="@{'/account/cash' }"><img
                                src="/static/img/6 finance.png"/></a></li>
                        <li class="active2"><a th:href="@{'/account/partner/customer/debt'}"><img
                                src="/static/img/6 hands.png"/></a></li>
                        <li class="active3"><a th:href="@{'/account/employee'}"><img
                                src="/static/img/6 peoples.png"/></a></li>
                        <li class="active4"><a th:href="@{'/account/report/summary'}"><img
                                src="/static/img/6 numbers.png"/></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="row" th:fragment="startView">

    <div class="col-md-5">


    </div>

    <div class="col-md-7">


        <div id='calendar'></div>


    </div>
</div>
<div th:fragment="details" >

    <ul>
        <li th:text="${#httpSession.getAttribute('organizationId').organizationName}"></li>
        <li th:text="${#httpSession.getAttribute('organizationId').hch}"></li>
        <li th:text="${#httpSession.getAttribute('organizationId').actingAddress}"></li>
        <li th:text="${#httpSession.getAttribute('organizationId').certificateNumber}"></li>
        <li th:text="${#httpSession.getAttribute('organizationId').dateOfOpeningBalances}"></li>
        <li th:text="${#httpSession.getAttribute('organizationId').juridicalAddress}"></li>
        <li th:text="${#httpSession.getAttribute('organizationId').registrationDate}"></li>
        <li th:text="${#httpSession.getAttribute('organizationId').registrationNumber}"></li>
        <li th:text="${#httpSession.getAttribute('organizationId').taxpayerIdentificationNumber}"></li>
    </ul>

</div>
<div th:fragment="fixedasset" >



    <div id="filterForm" class="range-picker" >
        <a class="btn btn-info" role="button"
           th:href="@{'/account/organization/fixedasset/create'}">Ավելացնել </a>
        <br/>
        <br/>
        <label>Սկիզբ:</label>
        <input type="text" class="datepicker from"/>
        <label>Վերջ:</label>
        <input type="text" class="datepicker to" />
        <input type="checkbox" class="range-picker" id="showAll" name="showAll" />
        <label> Ցուցադրել բոլորը </label>
        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
    </div>
    <div id="showFixedAssets" >
    </div>
    <script>
        function toDate(dateStr) {
            var parts = dateStr.split("/");
            var result = parts[2]+"-"+parts[0]+"-"+parts[1];
            return new Date(result);
        }


        $(function () {
            $('.range-picker').on('change', function () {
                var newRange = String( $(this).attr('data-range'));
                var start="" ;
                var end="";
                var showAll = Boolean($("#showAll").is(':checked'));
                console.log(showAll);
                var csrf_token = $('#filterForm').find('input[name="_csrf"]').val();
                if(newRange.length>11)
               {
                   start = newRange.substring(0, newRange.indexOf('-'));
                   end   = newRange.substring(newRange.indexOf('-')+1,newRange.length );
               }
               else if(newRange.indexOf('-')==0)
                    end =  newRange.substring(newRange.indexOf('-')+1,newRange.length );
               else
                   start=newRange.substring(0, newRange.indexOf('-'));
              start = toDate(start);
              end = toDate(end);


                var DateRang={
                    start:start,
                    end:end,
                    showAll:showAll
                };

                if(showAll==false)
                    $('#showFixedAssets').empty();


                   $.ajax({

                        method : "POST",
                        contentType : "application/json",
                        url: '/account/organization/fixedasset/show',
                        dataType: 'json',
                        data :JSON.stringify(DateRang),
                       beforeSend: function(xhr){
                           xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                       },  success: function (msg){
                            if(msg == null)
                                $('#showFixedAssets').empty();
                            else
                           showFixedAssets(msg);
                           //paramList = "{'username':'" + data.User + "','password':'" + data.Pass + "'}";
                        },

                        error:
                            function(data){

                                console.log(data.responseText);
                            }
                    });

            });
        });
    </script>
</div>
<div th:fragment="fixedassetCreate" >


    <form method="post" th:object="${fixedAsset}" th:action="@{'/account/organization/fixedasset/create'}"
          id="fixedassetCreate" >

        <div class="alert alert-danger" th:if=" ${ #fields.hasErrors('*') } ">
            <p th:each=" err : ${ #fields.errors('*') }" th:text=" ${ err } "></p>
        </div>

        <label>Գույքահամար</label>
        <input th:style="${#fields.hasErrors('inventoryNumber') ? 'border-color: red ;' : ''}"
               type="text"
               th:name="inventoryNumber"
               th:field="*{inventoryNumber}"/>
        <br/>
        <label>Անվանում</label>
        <input th:style="${#fields.hasErrors('name') ? 'border-color: red ;' : ''}"
               type="text"
               th:name="name"
               th:field="*{name}"/>
        <br/>
        <label>Տեսակ </label>
        <input th:style="${#fields.hasErrors('type') ? 'border-color: red;' : ''}"
               type="text"
               th:name="type"
               th:field="*{type}"
        />
        <br/>
        <label>Ձեռքբերման ամսաթիվ</label>
        <input th:style="${#fields.hasErrors('acquiringDate') ? 'border-color: red;' : ''}"
               type="date"
               th:name="acquiringDate"
               th:field="*{acquiringDate}"
        />
        <br/>
        <label>Ձեռքբերման գումար</label>
        <input th:style="${#fields.hasErrors('acquiringАmount') ? 'border-color: red;' : ''}"
               type="text"
               th:name="acquiringАmount"
               th:field="*{acquiringАmount}"
        />
        <br/>
        <label>Մաշվածք</label>
        <input th:style="${#fields.hasErrors('wear') ? 'border-color: red;' : ''}"
               type="text"
               th:name="wear"
               th:field="*{wear}"
        />
        <br/>
        <label>Սկզբնական կուտակված մաշվածք</label>
        <input th:style="${#fields.hasErrors('initialAccumulated') ? 'border-color: red;' : ''}"
               type="text"
               th:name="initialAccumulated"
               th:field="*{initialAccumulated}"
        />
        <br/>
        <label>Նշումներ</label>
        <input th:style="${#fields.hasErrors('nout') ? 'border-color: red;' : ''}"
               type="text"
               th:name="nout"
               th:field="*{nout}"/>
        <br/>
        <input
                type="hidden"
                th:field="*{id}"
                th:value="*{id}"
        />

        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />


        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>


        <input type="submit" class="btn btn-default"/>


    </form>


</div>
<div class="container" th:fragment="organizationNavBar">
    <nav role="navigation" class="navbar-justified">

        <div id="organizationNavBar" class="collapse navbar-collapse">
            <ul class="nav nav-justified">
                <li><a th:href="@{'/account/organization/'+${#httpSession.getAttribute('organizationId').id}}" id="current">Ընթացիկ</a></li>
                <li><a th:href="@{'/account/organization/details'}" id="details">Տվյալներ</a></li>
                <li><a th:href="@{'/account/organization/fixedasset'}" href="#" id="himnakan">Հիմնական
                    միջոցներ</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container" th:fragment="cashNavBar">
    <nav role="navigation" class="navbar-justified">

        <div id="cashNavBar" class="collapse navbar-collapse">
            <ul class="nav nav-justified">


                    <li><a th:href="@{'/account/cash'}" id="cashResource" class="routs"  > Դրամական միջոցներ</a></li>
                <li><a th:href="@{'/account/cash/cashin/cashdesk' }" id="in"> Մուտքեր</a></li>
                <li><a th:href="@{'/account/cash/cashout/cashdesk' }" id="out">Ելքեր</a></li>

            </ul>
        </div>
    </nav>
</div>
<div class="container" th:fragment="cashdesk">

    <form th:object="${walletData}" action="/account/cash/cashdesk" th:name="walletDataForm" method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')} " >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
            <!--<p th:each="err : ${#fields.detailedErrors()}" th:text="${err.getFieldName()}"></p>-->

        </div>
        <label>Անվանում</label>
        <input type="text"
               th:name="walletName"
               th:field="*{walletName}"
        />
        <label>Սկզբնական մնացորդ</label>
        <input type="text"
               th:name="startBalance"
               th:field="*{startBalance}"
        />
        <label>Մուտքերի համարակալումը սկսել</label>
        <input type="text"
               th:name="startingNumbering"
               th:field="*{startingNumbering}"
        />
        <label>Ելքերի համարակալումը սկսել</label>
        <input type="text"
               th:name="outNumbering"
               th:field="*{outNumbering}"
        />
        <label>Դրամարկղի գրքի թերթերի քանակ</label>
        <input type="text"
               th:name="cashBbookPapers"
               th:field="*{cashBbookPapers}"
        />
        <label>Դրամարկղի գրքի թերթերի համարակալումը սկսել</label>
        <input type="text"
               th:name="startingNumberCashBookPapers"
               th:field="*{startingNumberCashBookPapers}"
        />
        <label>Նշումներ</label>
        <input type="text"
               th:name="notes"
               th:field="*{notes}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>


        <input type="submit" class="btn btn-default"/>
    </form>
</div>
<div class="container" th:fragment="bankaccount">

    <a class="btn btn-info" role="button" th:href="@{'/account/cash/bankaccount/create/' }">Ավելացնել </a>
    <div id="showBankAccount" >
    </div>
    <script th:inline="javascript" >
        $(document).ready(function () {
                var csrf_token = $('#filterForm').find('input[name="_csrf"]').val();
                    $('#showBankAccount').empty();
                $.ajax({

                    method : "POST",
                    contentType : "application/json",
                    url: '/account/bankaccount/accounts',
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                    },  success: function (msg){
                        if(msg == null)
                            $('#showBankAccount').empty();
                        else
                            showBankAccount(msg);
                        //paramList = "{'username':'" + data.User + "','password':'" + data.Pass + "'}";
                    },

                    error:
                        function(data){
                            console.log(data.responseText);
                        }
                });

        });
    </script>
</div>
<div class="container" th:fragment="bankaccountCreate">


    <form th:object="${bankAccount}" action="/account/cash/bankaccount/create" id="bankAccountForm"  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>

        <br />


        <label>Բանկային հաշիվ</label>
        <input type="text"
               id="bankAccount"
               th:name="bankAccount"
               th:field="*{bankAccount}"
        />
        <br />

        <label>Բանկի անուն</label>
        <input type="text"
               id="bankName"
               th:name="bankName"
               th:field="*{bankName}"
               readonly="readonly"
        />
        <br />
        <label>Սկզբնական մնացորդի տեսակ</label>
        <select type="text"
               th:name="openingBalanceType"
               th:field="*{openingBalanceType}" >

        <option th:value="Դրական">Դրական</option>
        <option th:value="Բացասական">Բացասական</option>

        </select>

        <br />
        <label>Սկզբնական մնացորդ </label>
        <input type="text"
               th:name="openingBalance"
               th:field="*{openingBalance}"
        />
        <br />
        <label>Ելքերի համարակալումը սկսել</label>
        <input type="text"
               text="1"
               th:name="startOutNumbering"
               th:field="*{startOutNumbering}"
        />
        <br />
        <label>Նշումներ</label>
        <input th:type="hidden"
                type="text"
               th:name="nout"
               th:field="*{nout}"

        />
        <br />
        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />

        <input
                type="hidden"
                id="organizationId"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />


        <input type="submit" class="btn btn-default" />
    </form >
    <script>
        /*<![CDATA[*/
        $("#bankAccount").on('input', function() {


            if( $("#bankAccount").val().length >= 5) {
                var csrf_token = $('#bankAccountForm').find('input[name="_csrf"]').val();
                var accountStartNumbers = $("#bankAccount").val().substring(0, 5);
                $.ajax({

                    method: "POST",
                    contentType: "application/json",
                    url: '/account/cash/bankaccount/create/getbankname',

                    data: accountStartNumbers,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRF-TOKEN", csrf_token);
                    },
                    success: function (msg) {

                        $("#bankName").val(msg);

                    },
                    error:
                        function (data) {

                            console.log(data.responseText);
                        }
                });
            } if( $("#bankAccount").val().length <= 4){

                $("#bankName").val("");

            }

        });
        /*]]>*/
    </script>
</div>
<div th:fragment="cashIn">
    <div class="row">
        <br />
        <div class="container" >
                <div class='col-md-2'>
                    <a class="btn btn-info" role="button" th:href="@{'/account/cash/cashin/cashdesk/create/'}">Ավելացնել </a>
                    <br />
                    <br />
                </div>
        </div>
    </div>
    <div class="row">
        <div class="container" id="datetimepicker1">
            <div class='col-md-2'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker6'>
                        <input type="text" class="form-control" id="datepickerStart" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <div class='col-md-2'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker7'>
                        <input type="text" class="form-control" id="datepickerEnd" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <div class='col-md-3'>
                <div class="form-group">
                    <div class="form-check" >
                        <input type="checkbox" class="form-check-input" id="showAll" />
                        <label class="form-check-label" for="showAll" >Ցուցադրել բոլորը</label>
                    </div>
                </div>
            </div>

            <input name="csrfToken" id="csrfToken"
                   type="hidden"

                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"
            />
        </div>
    </div>
    <div id="showCashIn" >

    </div>
    <script th:inline="javascript" >
        /*<![CDATA[*/
        $( "#datepickerStart" ).datepicker();
        $( "#datepickerEnd" ).datepicker();
        $(document).ready(function() {
            var csrf_token = $('#datetimepicker1').find('input[name="_csrf"]').val();
            var datePickerStart = $( "#datepickerStart.hasDatepicker" ).datepicker("setDate",new Date( new Date().getFullYear(),new Date().getMonth(),1));
            var datePickerEnd = $( "#datepickerEnd.hasDatepicker" ).datepicker("setDate",new Date( new Date().getFullYear(),new Date().getMonth()+1,0));
            var DateRang ={
                start:datePickerStart.datepicker("getDate"),
                end:datePickerEnd.datepicker("getDate"),
                showAll:Boolean($("#showAll").is(':checked'))
            }
            console.log(DateRang);

            $.ajax({
                method : "POST",
                contentType : "application/json",
                url: '/account/cash/cashin/cashdesk/show',
                dataType: 'json',
                data :JSON.stringify(DateRang),
                beforeSend: function(xhr){
                    xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                },  success: function (msg){
                    if(msg == null)
                        $("#showCashIn").empty();
                    else
                    {
                        console.log(msg);
                        showCashIn(msg);
                    }


                },
                error:
                    function(data){

                        console.log(data.responseText);
                    }
            });

            datePickerStart.on("change", function() {
                $.ajax({
                    method : "POST",
                    contentType : "application/json",
                    url: '/account/cash/cashin/cashdesk/show',
                    dataType: 'json',
                    data :JSON.stringify(DateRang),
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                    },  success: function (msg){
                        if(msg == null)
                            $("#showCashIn").empty();
                        else
                        {
                            console.log(msg);
                            showCashIn(msg);
                        }


                    },
                    error:
                        function(data){

                            console.log(data.responseText);
                        }
                });
            });
            datePickerEnd.on("change", function() {
                $.ajax({
                    method : "POST",
                    contentType : "application/json",
                    url: '/account/cash/cashin/cashdesk/show',
                    dataType: 'json',
                    data :JSON.stringify(DateRang),
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                    },  success: function (msg){
                        if(msg == null)
                            $("#showCashIn").empty();
                        else
                        {
                            console.log(msg);
                            showCashIn(msg);
                        }


                    },
                    error:
                        function(data){

                            console.log(data.responseText);
                        }
                });
            });
        });

        /*]]>*/
    </script>

</div>
<div class="container" th:fragment="createCustomerClientOrganization" >

    <form th:object="${customerClientOrganization}" action="/account/cash/create/customer/customerclientorganization"  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>

        <br />


        <label>Անուն</label>
        <input type="text"
          th:name="clientOrganizationName"
          th:field="*{clientOrganizationName}"
        />
        <br />

        <input
                 type="hidden"
                 th:field="*{id}"
                 th:value="${id}"
        />

        <input
                 type="hidden"
                 th:field="*{organization}"
                 th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"
        />


         <input type="submit" class="btn btn-default" />
    </form >

</div>
<div class="container" th:fragment="createCustomerIndividual" >

    <form th:object="${customerIndividual}" action="/account/cash/create/customer/customerindividual"  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>

        <br />


        <label>Անուն</label>
        <input type="text"
               th:name="firstName"
               th:field="*{firstName}"

        />
        <br />
        <label>Ազգանուն</label>
        <input type="text"
               th:name="lastName"
               th:field="*{lastName}"
        />
        <br />
        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />

        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />


        <input type="submit" class="btn btn-default" />
    </form >

</div>

/*Supplier*/
<div class="container" th:fragment="createSupplierClientOrganization" >

    <form th:object="${supplierClientOrganization}" action=" /account/cash/create/supplier/supplierclientorganization "  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <br />
        <label>Անուն</label>
        <input type="text"
               th:name="clientOrganizationName"
               th:field="*{clientOrganizationName}"
        />
        <br />
        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />
        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />
        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />
        <input type="submit" class="btn btn-default" />
    </form >

</div>
<div class="container" th:fragment="createSupplierIndividual" >

    <form th:object="${supplierIndividual}" action="/account/cash/create/supplier/supplierindividual"  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>

        <br />


        <label>Անուն</label>
        <input type="text"
               th:name="firstName"
               th:field="*{firstName}"

        />
        <br />
        <label>Ազգանուն</label>
        <input type="text"
               th:name="lastName"
               th:field="*{lastName}"
        />
        <br />
        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />

        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />


        <input type="submit" class="btn btn-default" />
    </form >

</div>
<div class="container" th:fragment="createOtherPartnerClientOrganization" >

    <form th:object="${otherPartnerClientOrganization}" action="/account/cash/create/otherpartner/otherpartnerclientorganization"  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>

        <br />


        <label>Անուն</label>
        <input type="text"
               th:name="clientOrganizationName"
               th:field="*{clientOrganizationName}"
        />
        <br />

        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />

        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />


        <input type="submit" class="btn btn-default" />
    </form >

</div>
<div class="container" th:fragment="createOtherPartnerIndividual" >

    <form th:object="${otherPartnerIndividual}" action="/account/cash/create/otherpartner/otherpartnerindividual"  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>

        <br />


        <label>Անուն</label>
        <input type="text"
               th:name="firstName"
               th:field="*{firstName}"

        />
        <br />
        <label>Ազգանուն</label>
        <input type="text"
               th:name="lastName"
               th:field="*{lastName}"
        />
        <br />
        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />

        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />


        <input type="submit" class="btn btn-default" />
    </form >

</div>
<div th:fragment="cashdeskFragmentNavBar">
<nav role="navigation" class="navbar-justified">

   <div id="cashdeskFragmentNavBar" class="collapse navbar-collapse">
       <ul class=" nav flex-column">

           <li class="nav-item"><a class="nav-link active"
                                   th:href="@{'/account/cash/cashdesk'}"> Դրամապանակի
               տվյալններ </a></li>
           <li class="nav-item"><a class="nav-item" th:href="@{''}" id="terminalData">Տերմինալի
               տվյալներ</a></li>
           <li class="nav-item"><a class="nav-item" th:href="@{'/account/cash/bankaccount'}" id="bankAccounts">Բանկային
               հաշիվներ</a></li>
       </ul>
   </div>
</nav>
</div>

<div th:fragment="cashInFragmentNavBar">
<nav role="navigation" class="navbar-justified">

   <div id="cashInFragmentNavBar" class="collapse navbar-collapse">
       <ul class=" nav flex-column ">

           <li class="nav-item"><a class="nav-link active" th:href="@{''}" id="wallet">
               Դրամապանակ </a></li>
           <li class="nav-item"><a class="nav-item" th:href="@{''}" id="terminal">Տերմինալ</a>
           </li>
           <li class="nav-item"><a class="nav-item" th:href="@{''}" id="bank">Բանկ</a></li>
       </ul>
   </div>
</nav>
</div>
<div th:fragment="cashOutFragmentNavBar">
<nav role="navigation" class="navbar-justified">

   <div id="cashOutFragmentNavBar" class="collapse navbar-collapse">
       <ul class=" nav flex-column ">
           <li class="nav-item"><a class="nav-link active" th:href="@{''}" id="wallet">
               Դրամապանակ </a></li>

           <li class="nav-item"><a class="nav-item" th:href="@{''}" id="bank">Բանկ</a></li>
       </ul>
   </div>
</nav>
</div>
<div  th:fragment="cash">
        <div class="row">
            <br />
        <div class="container" id="datetimepicker1">
            <div class='col-md-2'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker6'>
                        <input type="text" class="form-control" id="datepickerStart" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <div class='col-md-2'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker7'>
                        <input type="text" class="form-control" id="datepickerEnd" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>

            <input name="csrfToken" id="csrfToken"
                   type="hidden"

                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"
            />
        </div>
    </div>
        <div  id="showCash" >
        </div>

    <script th:inline="javascript" >
        /*<![CDATA[*/
        $( "#datepickerStart" ).datepicker();
        $( "#datepickerEnd" ).datepicker();
        $(document).ready(function() {
            var csrf_token = $('#datetimepicker1').find('input[name="_csrf"]').val();
            var datePickerStart = $( "#datepickerStart.hasDatepicker" ).datepicker("setDate",new Date( new Date().getFullYear(),new Date().getMonth(),1));
            var datePickerEnd = $( "#datepickerEnd.hasDatepicker" ).datepicker("setDate",new Date( new Date().getFullYear(),new Date().getMonth()+1,0));
            var DateRang ={
                start:datePickerStart.datepicker("getDate"),
                end:datePickerEnd.datepicker("getDate"),
                showAll:false
            }
            console.log(DateRang);

            $.ajax({
                method : "POST",
                contentType : "application/json",
                url: '/account/cash/show',
                dataType: 'json',
                data :JSON.stringify(DateRang),
                beforeSend: function(xhr){
                    xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                },  success: function (msg){
                    if(msg == null)
                        $("#showCash").empty();
                    else
                    {
                        console.log(msg);
                        showCash(msg);
                    }


                },
                error:
                    function(data){

                        console.log(data.responseText);
                    }
            });

            datePickerStart.on("change", function() {
                var DateRang ={
                    start:datePickerStart.datepicker("getDate"),
                    end:datePickerEnd.datepicker("getDate"),
                    showAll:false
                }
                console.log(DateRang);

                $.ajax({
                    method : "POST",
                    contentType : "application/json",
                    url: '/account/cash/show',
                    dataType: 'json',
                    data :JSON.stringify(DateRang),
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                    },  success: function (msg){
                        if(msg == null)
                            $("#showCash").empty();
                        else
                        {
                            console.log(msg);
                            showCash(msg);
                        }


                    },
                    error:
                        function(data){

                            console.log(data.responseText);
                        }
                });
            });
            datePickerEnd.on("change", function() {
                var DateRang ={
                    start:datePickerStart.datepicker("getDate"),
                    end:datePickerEnd.datepicker("getDate"),
                    showAll:false
                }
                console.log(DateRang);

                $.ajax({
                    method : "POST",
                    contentType : "application/json",
                    url: '/account/cash/show',
                    dataType: 'json',
                    data :JSON.stringify(DateRang),
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                    },  success: function (msg){
                        if(msg == null)
                            $("#showCash").empty();
                        else
                        {
                            console.log(msg);
                            showCash(msg);
                        }


                    },
                    error:
                        function(data){

                            console.log(data.responseText);
                        }
                });
            });
        });

        /*]]>*/
    </script>


</div>
<div class="container" th:fragment="partnerNavBar">
<nav role="navigation" class="navbar-justified">

   <div id="partnerNavBar" class="collapse navbar-collapse">
       <ul class="nav nav-justified">

           <li><a th:href="@{'/account/partner/customer/debt'}" id="customers">Գնորդներ</a></li>
           <li><a th:href="@{'/account/partner/supplier/debt'}" id="delivery">Մատակարարներ</a></li>
           <li><a th:href="@{'/account/partner/otherpartner/debt/'}" id="anotherPartners">Այլ
               գործընկերներ</a></li>
       </ul>
   </div>
</nav>
</div>
<div th:fragment="partnerFragmentNavBar">
<nav role="navigation" class="navbar-justified">

   <div id="partnerFragmentNavBar" class="collapse navbar-collapse">
       <ul class=" nav flex-column">
           <li class="nav-item"><a class="nav-link active" th:href="@{''}" id="debts">
               Պարտքեր </a></li>
           <li class="nav-item"><a class="nav-item" th:href="@{''}" id="sellout">Վաճառքներ</a>
           </li>
           <li class="nav-item"><a class="nav-item" th:href="@{''}" id="payment">Ստացված
               վճարումներ</a></li>
           <li class="nav-item"><a class="nav-item" th:href="@{'/account/partner/customer'}" id="customerTable">Գնորդների
               ցանկ</a></li>
       </ul>
   </div>
</nav>
</div>

<div class="container" th:fragment="employeeNavBar">
<nav role="navigation" class="navbar-justified">

   <div id="employeeNavBar" class="collapse navbar-collapse">
       <ul class="nav nav-justified">


           <li><a th:href="@{'/account/employee'}" id="employeers">Աշխատակիցներ</a></li>
           <li><a th:href="@{'/account/employee/debt'}" id="salary">Վարձատրություն</a></li>
           <li><a th:href="@{''}" id="accounting">Հաշվարկ</a></li>

       </ul>
   </div>
</nav>
</div>
<div th:fragment="employeeFragmentNavBar">
<nav role="navigation" class="navbar-justified">

   <div id="employeeFragmentNavBar" class="collapse navbar-collapse">
       <ul class=" nav flex-column">
           <li class="nav-item"><a class="nav-link active" th:href="@{''}" id="employeeDesk">
               Աշխատակիցներ </a></li>
           <li class="nav-item"><a class="nav-item" th:href="@{''}" id="subdivision">Ստորաբաժանումներ</a>
           </li>
           <li class="nav-item"><a class="nav-item" th:href="@{''}"
                                   id="position">Պաշտոններ</a></li>
       </ul>
   </div>
</nav>
</div>
<div th:fragment="employeeDebtFragmentNavBar">
<nav role="navigation" class="navbar-justified">

   <div id="employeeDebtFragmentNavBar" class="collapse navbar-collapse">
       <ul class=" nav flex-column">
           <li class="nav-item"><a class="nav-link active" th:href="@{''}" id="employeeDebt">Պարտք </a>
           </li>
           <li class="nav-item"><a class="nav-item" th:href="@{''}" id="employeeSalary">Աշխատավարձեր</a>
           </li>
           <li class="nav-item"><a class="nav-item" th:href="@{''}"
                                   id="vacation">Արձակուրդներ</a></li>
           <li class="nav-item"><a class="nav-item" th:href="@{''}" id="absence">Բացակայություններ</a>
           </li>
           <li class="nav-item"><a class="nav-item" th:href="@{''}" id="bonus">Պարգևներներ</a>
           </li>
       </ul>
   </div>
</nav>
</div>
<div class="row" th:fragment="employee">

<div class="col-md-4">


</div>

<div class="col-md-8">
   <h1>WELCOME Employee!!!</h1>

</div>


</div>


<div class="container" th:fragment="reportNavBar">
<nav role="navigation" class="navbar-justified">

   <div id="reportNavBar" class="collapse navbar-collapse">
       <ul class="nav nav-justified">

           <li><a th:href="@{'/account/report/summary'}" id="summaryData">Ամփոփ տվյալներ</a>
           </li>
           <li><a th:href="@{'/account/report/summary/debt'}" id="tax">Հարկեր</a></li>

       </ul>
   </div>
</nav>
</div>
<div th:fragment="reportFragmentNavBar">
<nav role="navigation" class="navbar-justified">

   <div id="reportFragmentNavBar" class="collapse navbar-collapse">
       <ul class="nav flex-column">
           <li><a th:href="@{''}" id="summary">Փակում</a></li>
           <li><a th:href="@{''}" id="initialBalances">Սկզբնական մնացորդներ</a></li>
           <li><a th:href="@{''}" id="turnover">Շրջանառություն</a></li>
           <li><a th:href="@{''}" id="profitLoss">Ֆինանսական արդյունք</a></li>
           <li><a th:href="@{''}" id="transaction">Գործառություններ</a></li>
       </ul>
   </div>
</nav>
</div>
<div th:fragment="reportDebtFragmentNavBar">
<nav role="navigation" class="navbar-justified">

   <div id="reportDebtFragmentNavBar" class="collapse navbar-collapse">
       <ul class=" nav flex-column">
           <li><a th:href="@{''}" id="reportDebt">Պարտքեր</a></li>
           <li><a th:href="@{''}" id="report">Հաշվետվություններ</a></li>
           <li><a th:href="@{''}" id="reportPaidTax">Վճարված հարկեր</a></li>
           <li><a th:href="@{''}" id="reportTax">Հարկատեսակներ</a></li>
       </ul>
   </div>
</nav>
</div>
<div class="row" th:fragment="report">

<div class="col-md-4">


</div>

<div class="col-md-8">
   <h1>WELCOME Report!!!</h1>

</div>


</div>
</body >
</html>