<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div class="panel panel-default" th:fragment="cashIn">
        <div style="margin: 50px">
        <div class="row">
            <div class="container">
                <div class='col-md-2'>
                    <a class="btn btn-info" role="button" th:href="@{'/account/cash/cashin/cashdesk/create/'}">Ավելացնել </a>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container" id="datetimepicker1">
                <div class='col-md-2'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker6'>
                            <input type="text" class="form-control" id="datepickerStart" />
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </div>
                    </div>
                </div>
                <div class='col-md-2'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker7'>
                            <input type="text" class="form-control" id="datepickerEnd" />
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </div>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class="form-group">
                        <div class="form-check" >
                            <input type="checkbox" class="form-check-input" id="showAll" />
                            <label class="form-check-label" for="showAll" >Ցուցադրել բոլորը</label>
                        </div>
                    </div>
                </div>

                <input name="csrfToken" id="csrfToken"
                       type="hidden"

                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"
                />
            </div>
        </div>
        <div id="showCashIn" >

        </div>
        <script th:inline="javascript" >
            /*<![CDATA[*/
            $( "#datepickerStart" ).datepicker();
            $( "#datepickerEnd" ).datepicker();

            $(document).ready(function() {
                var csrf_token = $('#datetimepicker1').find('input[name="_csrf"]').val();
                var datePickerStart = $( "#datepickerStart.hasDatepicker" ).datepicker("setDate",new Date( new Date().getFullYear(),new Date().getMonth(),1));
                var datePickerEnd = $( "#datepickerEnd.hasDatepicker" ).datepicker("setDate",new Date( new Date().getFullYear(),new Date().getMonth()+1,0));
                var DateRang ={
                    start:datePickerStart.datepicker("getDate"),
                    end:datePickerEnd.datepicker("getDate"),
                    showAll:Boolean($("#showAll").is(':checked'))
                }
                console.log(DateRang);

                $.ajax({
                    method : "POST",
                    contentType : "application/json",
                    url: '/account/cash/cashin/cashdesk/show',
                    dataType: 'json',
                    data :JSON.stringify(DateRang),
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                    },  success: function (msg){
                        if(msg == null)
                            $("#showCashIn").empty();
                        else
                        {
                            console.log(msg);
                            showCashIn(msg);
                        }


                    },
                    error:
                        function(data){

                            console.log(data.responseText);
                        }
                });
                datePickerStart.on("change", function() {
                    var DateRang ={
                        start:datePickerStart.datepicker("getDate"),
                        end:datePickerEnd.datepicker("getDate"),
                        showAll:Boolean($("#showAll").is(':checked'))
                    }
                    $.ajax({
                        method : "POST",
                        contentType : "application/json",
                        url: '/account/cash/cashin/cashdesk/show',
                        dataType: 'json',
                        data :JSON.stringify(DateRang),
                        beforeSend: function(xhr){
                            xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                        },  success: function (msg){
                            if(msg == null)
                                $("#showCashIn").empty();
                            else
                            {
                                console.log(msg);
                                showCashIn(msg);
                            }


                        },
                        error:
                            function(data){

                                console.log(data.responseText);
                            }
                    });
                });
                datePickerEnd.on("change", function() {
                    var DateRang ={
                        start:datePickerStart.datepicker("getDate"),
                        end:datePickerEnd.datepicker("getDate"),
                        showAll:Boolean($("#showAll").is(':checked'))
                    }
                    $.ajax({
                        method : "POST",
                        contentType : "application/json",
                        url: '/account/cash/cashin/cashdesk/show',
                        dataType: 'json',
                        data :JSON.stringify(DateRang),
                        beforeSend: function(xhr){
                            xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                        },  success: function (msg){
                            if(msg == null)
                                $("#showCashIn").empty();
                            else
                            {
                                console.log(msg);
                                showCashIn(msg);
                            }


                        },
                        error:
                            function(data){

                                console.log(data.responseText);
                            }
                    });
                });
                $('#showAll').change(function() {
                    if(this.checked) {
                        var DateRang ={
                            start:datePickerStart.datepicker("getDate"),
                            end:datePickerEnd.datepicker("getDate"),
                            showAll:Boolean($("#showAll").is(':checked'))
                        }
                        $.ajax({
                            method : "POST",
                            contentType : "application/json",
                            url: '/account/cash/cashin/cashdesk/show',
                            dataType: 'json',
                            data :JSON.stringify(DateRang),
                            beforeSend: function(xhr){
                                xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                            },  success: function (msg){
                                if(msg == null)
                                    $("#showCashIn").empty();
                                else
                                {
                                    console.log(msg);
                                    showCashIn(msg);
                                }


                            },
                            error:
                                function(data){

                                    console.log(data.responseText);
                                }
                        });

                    }else
                    {
                        var DateRang ={
                            start:datePickerStart.datepicker("getDate"),
                            end:datePickerEnd.datepicker("getDate"),
                            showAll:Boolean($("#showAll").is(':checked'))
                        }
                        $.ajax({
                            method : "POST",
                            contentType : "application/json",
                            url: '/account/cash/cashin/cashdesk/show',
                            dataType: 'json',
                            data :JSON.stringify(DateRang),
                            beforeSend: function(xhr){
                                xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                            },  success: function (msg){
                                if(msg == null)
                                    $("#showCashIn").empty();
                                else
                                {
                                    console.log(msg);
                                    showCashIn(msg);
                                }


                            },
                            error:
                                function(data){

                                    console.log(data.responseText);
                                }
                        });

                    }

                });
            });

            /*]]>*/
        </script>


    </div>
    </div>

    <div  class="panel panel-default" th:fragment="cashInCreate" >
        <div style="margin: 50px">
        <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashin/cashdesk/create/cashinfrompointofsale'}" > Մուտք առևտրի կետից </a>
        <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashin/cashdesk/create/cashinfromsaleofgoods'}" > Մուտք ապրանքների իրացումից </a>
        <br />
        <br />
        <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashin/cashdesk/create/cashinfromserviceprovision'}" > Մուտք ծառայության մատուցումից </a>
        <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashin/cashdesk/create/cashinfrombankaccount'}" > Մուտք բանկային հաշվից </a>
        <br />
        <br />
        <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashin/cashdesk/create/cashinfromloan'}" > Փոխառության ստացում </a>
        <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashin/cashdesk/create/cashinfromcredit'}" > Վարկի ստացում </a>
        </div>
    </div>

    <div class="panel panel-default" th:fragment="customerAndColleaguesCreate" >
        <div style="margin: 50px">
            <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/create/customer/customerclientorganization'}" >Կազմակերպություն </a>
            <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/create/customer/customerindividual'}" >Անհատ </a>
        </div>
    </div>
    <div class="panel panel-default" th:fragment="customerAndColleaguesCreateOtherPartner" >
        <div style="margin: 50px">
            <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/create/otherpartner/otherpartnerclientorganization'}" >Կազմակերպություն </a>
            <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/create/otherpartner/otherpartnerindividual'}" >Անհատ </a>
        </div>
    </div>
    <div class="panel panel-default" th:fragment="customerAndColleaguesCreateSupplier" >
        <div style="margin: 50px">
            <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/create/supplier/supplierclientorganization'}" >Կազմակերպություն </a>
            <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/create/supplier/supplierindividual'}" >Անհատ </a>
        </div>
    </div>
    <div class="panel panel-default" th:fragment="cashInCreateCashInFromPointOfSale" >

            <form th:object="${cashInFromPointOfSale}" action="/account/cash/cashin/cashdesk/create/cashinfrompointofsale" id="walletInCreate"  method="post" >
                <div style="margin: 50px">
                    <div class="form-group row ">
                        <label for="inDate" class=" col-md-4 col-form-label" >Ամսաթիվ</label>
                        <div class="col-md-6" >
                            <input id="inDate" class="form-control"
                               type="date"
                               th:name="inDate"
                               th:field="*{walletIn.inDate}"

                            />
                            <small th:if="${#fields.hasErrors('walletIn.inDate')}" th:errors="*{walletIn.inDate}"  class="form-text text-danger" />
                        </div>
                    </div>

                    <div class="form-group row ">
                        <label for="inCash" class=" col-md-4 col-form-label" >Մուտքի գումար</label>
                            <div class="col-md-6" >
                                <input id="inCash" class="form-control"
                                       type="text"
                                       th:name="inCash"
                                       th:field="*{walletIn.inCash}"
                                />
                            <small th:if="${#fields.hasErrors('walletIn.inCash')}" th:errors="*{walletIn.inCash}"  class="form-text text-danger" />
                        </div>
                    </div>

                    <div class="form-group row ">
                        <label for="note" class=" col-md-4 col-form-label" >Նշումներ</label>
                            <div class="col-md-6" >
                                <input id="note" class="form-control"
                                       type="text"
                                       th:name="note"
                                       th:field="*{walletIn.note}"
                                />
                                <small th:if="${#fields.hasErrors('walletIn.note')}" th:errors="*{walletIn.note}"  class="form-text text-danger" />
                            </div>
                    </div>

                    <input
                        type="hidden"
                        th:field="*{id}"
                        th:value="${id}"
                    />

                    <input
                        type="hidden"
                        th:field="*{organization}"
                        th:value="${organization}"
                    />

                    <input name="csrfToken" id="csrfToken"
                           type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"
                    />
                <input type="submit" class="btn btn-default" />
            </div>
        </form >

        <script>
            $(document).ready(function () {
                if($('#inDate').val()==""){

                    var now = new Date();

                    var day = ("0" + now.getDate()).slice(-2);
                    var month = ("0" + (now.getMonth() + 1)).slice(-2);

                    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

                    $('#inDate').val(today);
                }
            })
        </script>

    </div>


    <div class="panel panel-default" th:fragment="cashInCreateBankAccount" >
        <form th:object="${cashInFromBankAccount}" action="/account/cash/cashin/cashdesk/create/cashinfrombankaccount" id="cashInFrom"  method="post" >
            <div style="margin: 50px">
                <div class="form-group row ">
                    <label for="bankAccount" class=" col-md-4 col-form-label" >Բանկային հաշիվ</label>
                        <div class="col-md-6" >
                            <select id="bankAccount"
                                    class="form-control"
                                    th:field="*{bankAccount}"
                                    th:name="bankAccount">

                                    <option value=""> __ԸՆՏՐԵԼ__ </option>
                                    <option th:each="account : ${accountList}"
                                            th:value="${account.bankAccount}"
                                            th:text= "${account.bankName + '--' + account.bankAccount}" />
                            </select>
                            <small th:if="${#fields.hasErrors('bankAccount')}" th:errors="*{bankAccount}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="inDate" class=" col-md-4 col-form-label" >Ամսաթիվ</label>
                        <div class="col-md-6" >
                            <input id="inDate"
                                   class="form-control"
                                   type="date"
                                   th:name="inDate"
                                   th:field="*{walletIn.inDate}"
                            />
                            <small th:if="${#fields.hasErrors('walletIn.inDate')}" th:errors="*{walletIn.inDate}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="inCash" class=" col-md-4 col-form-label">Մուտքի գումար</label>
                        <div class="col-md-6" >
                            <input id="inCash"
                                   class="form-control"
                                   type="text"
                                   th:name="inCash"
                                   th:field="*{walletIn.inCash}"
                            />
                            <small th:if="${#fields.hasErrors('walletIn.inCash')}" th:errors="*{walletIn.inCash}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="note" class=" col-md-4 col-form-label">Նշումներ</label>
                        <div class="col-md-6" >
                            <input id="note"
                                   class="form-control"
                                   type="text"
                                   th:name="note"
                                   th:field="*{walletIn.note}"
                            />
                            <small th:if="${#fields.hasErrors('walletIn.note')}" th:errors="*{walletIn.note}"  class="form-text text-danger" />
                        </div>
                </div>

                <input
                        type="hidden"
                        th:field="*{id}"
                        th:value="${id}"
                />

                <input
                        type="hidden"
                        id="organizationId"
                        th:field="*{organization}"
                        th:value="${organization}"
                />

                <input name="csrfToken" id="csrfToken"
                       type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"
                />


                <input type="submit" class="btn btn-default" />
            </div>
        </form >

        <script>
            $(document).ready(function () {
                if($('#inDate').val()==""){

                    var now = new Date();

                    var day = ("0" + now.getDate()).slice(-2);
                    var month = ("0" + (now.getMonth() + 1)).slice(-2);

                    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

                    $('#inDate').val(today);
                }
            })
        </script>
    </div>

    <div class="panel panel-default"  th:fragment="cashInCreateCashInFromSaleOfGoods" >

        <form th:object="${cashInFromSaleOfGoods}" action="/account/cash/cashin/cashdesk/create/cashinfromsaleofgoods" id="walletInCreate"  method="post" >
            <div style="margin: 50px">
                <div class="form-group row ">
                    <label for="selectedCustomer" class=" col-md-4 col-form-label" >Գնորդ</label>
                    <div class="col-md-6" >
                        <select id="selectedCustomer"
                                class="form-control"
                                th:field="*{customerIndex}"
                                th:name="customerIndex">

                            <option value=''> __ԸՆՏՐԵԼ__ </option>
                            <option th:each="customer,iterStat  : ${customerList}"
                                    th:value="${iterStat.index}"
                                    th:text="${customer.getCustomerName()}"
                            />
                        </select>
                        <small th:if="${#fields.hasErrors('customerIndex')}" th:errors="*{customerIndex}"  class="form-text text-danger" />
                    </div>
                    <div class="col-md-1">
                        <a  type="button" th:href="@{'/account/cash/create/customer'}" class="btn btn-default btn-sm" >
                            <span class="glyphicon glyphicon-plus-sign"></span> Գնորդ
                        </a>
                    </div>
                </div>

                <div class="form-group row ">
                    <label for="inDate" class=" col-md-4 col-form-label" >Ամսաթիվ</label>
                        <div class="col-md-6" >
                            <input id="inDate"
                                   class="form-control"
                                   type="date"
                                   th:name="inDate"
                                   th:field="*{walletIn.inDate}"
                            />
                                <small th:if="${#fields.hasErrors('walletIn.inDate')}" th:errors="*{walletIn.inDate}"  class="form-text text-danger" />
                        </div>
                </div>


                <div class="form-group row ">
                    <label for="inCash" class=" col-md-4 col-form-label" >Մուտքի գումար</label>
                        <div class="col-md-6" >
                            <input id="inCash"
                                   class="form-control"
                                   type="text"
                                   th:name="inCash"
                                   th:field="*{walletIn.inCash}"
                            />
                            <small th:if="${#fields.hasErrors('walletIn.inCash')}" th:errors="*{walletIn.inCash}"  class="form-text text-danger" />
                        </div>
                </div>


                <div class="form-group row ">
                    <label for="contractDate" class=" col-md-4 col-form-label" >Պայմանագրի ամսաթիվ</label>
                        <div class="col-md-6" >
                            <input  id="contractDate"
                                    class="form-control"
                                    type="date"
                                    th:name="contractDate"
                                    th:field="*{contractDate}"
                            />
                            <small th:if="${#fields.hasErrors('contractDate')}" th:errors="*{contractDate}"  class="form-text text-danger" />
                        </div>
                </div>


                <div class="form-group row ">
                    <label for="contractNubmer" class=" col-md-4 col-form-label" >Պայմանագրի համար</label>
                        <div class="col-md-6" >
                            <input  id="contractNubmer"
                                    class="form-control"
                                    type="text"
                                    th:name="contractNubmer"
                                    th:field="*{contractNubmer}"
                            />
                            <small th:if="${#fields.hasErrors('contractNubmer')}" th:errors="*{contractNubmer}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="note" class=" col-md-4 col-form-label" >Նշումներ</label>
                        <div class="col-md-6" >
                            <input  id="note"
                                    class="form-control"
                                    type="text"
                                    th:name="note"
                                    th:field="*{walletIn.note}"
                            />
                            <small th:if="${#fields.hasErrors('walletIn.note')}" th:errors="*{walletIn.note}"  class="form-text text-danger" />
                        </div>
                </div>

                <input
                        type="hidden"
                        th:field="*{customerId}"
                        th:value="${customerId}"
                />
                <input
                        type="hidden"
                        th:field="*{customerType}"
                        th:value="${customerType}"
                />

                <input
                        type="hidden"
                        th:field="*{id}"
                        th:value="${id}"
                />
                <input
                        type="hidden"
                        id="organizationId"
                        th:field="*{organization}"
                        th:value="${organization}"
                />
                <input
                        type="hidden"
                        id="walletIn"
                        th:field="*{walletIn}"
                        th:value="${walletIn}"
                />
                <input name="csrfToken" id="csrfToken"
                       type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"
                />


                <input type="submit" class="btn btn-default" />

            </div>

        </form >

        <script  th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function () {
                var customerList = /*[[${customerList}]]*/ 'default';

                if($('#inDate').val()==""){

                    var now = new Date();

                    var day = ("0" + now.getDate()).slice(-2);
                    var month = ("0" + (now.getMonth() + 1)).slice(-2);

                    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

                    $('#inDate').val(today);
                }

                if($('#selectedCustomer').val()!='' && $('input[name=customerType]').val()=="" && $('input[name=customerId]').val()=="")
                {

                   $('input[name=customerType]').val(customerList[$('#selectedCustomer').val()].customerType);
                    $('input[name=customerId]').val(customerList[$('#selectedCustomer').val()].id);
                }
                $('#selectedCustomer').on('change', function() {
                    if(this.value!="")
                    {
                        $('input[name=customerType]').val(customerList[this.value].customerType);
                        $('input[name=customerId]').val(customerList[this.value].id);
                    }
                    else{
                        $('input[name=customerType]').val("");
                        $('input[name=customerId]').val("");
                    }
                })
            })
            /*]]>*/
        </script>

    </div>

    <div class="panel panel-default" th:fragment="cashInCreateCashInFromLoan" >
        <form th:object="${cashInFromLoan}" action="/account/cash/cashin/cashdesk/create/cashinfromloan" id="cashInFromLoanCreate"  method="post" >
            <div style="margin: 50px">
                    <div class="form-group row ">
                        <label for="selectedOtherPartner" class=" col-md-4 col-form-label" >Այլ Գործընկեր</label>
                        <div class="col-md-6" >
                            <select id="selectedOtherPartner"
                                    class="form-control"
                                    th:field="*{otherPartnerIndex}"
                                    th:name="otherPartnerIndex">

                                <option value=""> __ԸՆՏՐԵԼ__ </option>
                                <option th:each="colleague,iterStat  : ${colleaguesList}"
                                        th:value="${iterStat.index}"
                                        th:text="${colleague.getOtherPartnerName()}"
                                />
                            </select>
                            <small th:if="${#fields.hasErrors('otherPartnerIndex')}" th:errors="*{otherPartnerIndex}"  class="form-text text-danger" />
                        </div>
                        <div class="col-md-1">
                            <a type="button" th:href="@{'/account/cash/create/otherpartner'}" class="btn btn-default btn-sm" >
                                <span class="glyphicon glyphicon-plus-sign"></span> Այլ Գործընկեր
                            </a>
                        </div>
                    </div>

                <div class="form-group row ">
                    <label for="inDate" class=" col-md-4 col-form-label" >Ամսաթիվ</label>
                        <div class="col-md-6" >
                            <input id="inDate"
                                   class="form-control"
                                   type="date"
                                   th:name="inDate"
                                   th:field="*{walletIn.inDate}"
                            />
                            <small th:if="${#fields.hasErrors('walletIn.inDate')}" th:errors="*{walletIn.inDate}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="inCash" class=" col-md-4 col-form-label" >Մուտքի գումար</label>
                        <div class="col-md-6" >
                            <input id="inCash"
                                   class="form-control"
                                   type="text"
                                   th:name="inCash"
                                   th:field="*{walletIn.inCash}"
                            />
                            <small th:if="${#fields.hasErrors('walletIn.inCash')}" th:errors="*{walletIn.inCash}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="contractDate" class=" col-md-4 col-form-label" >Պայմանագրի ամսաթիվ</label>
                        <div class="col-md-6" >
                            <input id="contractDate"
                                   class="form-control"
                                   type="date"
                                   th:name="contractDate"
                                   th:field="*{contractDate}"
                            />
                            <small th:if="${#fields.hasErrors('contractDate')}" th:errors="*{contractDate}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="forContract" class=" col-md-4 col-form-label" >Պայմանագրի համար</label>
                        <div class="col-md-6" >
                            <input id="forContract"
                                   class="form-control"
                                   type="text"
                                   th:name="forContract"
                                   th:field="*{forContract}"
                            />
                            <small th:if="${#fields.hasErrors('forContract')}" th:errors="*{forContract}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="note" class=" col-md-4 col-form-label" >Նշումներ</label>
                    <div class="col-md-6" >
                        <input id="note"
                               class="form-control"
                               type="text"
                               th:name="note"
                               th:field="*{walletIn.note}"
                        />
                        <small th:if="${#fields.hasErrors('walletIn.note')}" th:errors="*{walletIn.note}"  class="form-text text-danger" />
                    </div>
                </div>

                <input
                        type="hidden"
                        th:field="*{id}"
                        th:value="${id}"
                />
                <input
                        type="hidden"
                        id="otherPartnerType"
                        th:field="*{otherPartnerType}"
                        th:value="${otherPartnerType}"
                />
                <input
                    type="hidden"
                    id="otherPartnerId"
                    th:field="*{otherPartnerId}"
                    th:value="${otherPartnerId}"
            />

                <input
                        type="hidden"
                        id="organizationId"
                        th:field="*{organization}"
                        th:value="${organization}"
                />
                <input
                        type="hidden"
                        id="walletIn"
                        th:field="*{walletIn}"
                        th:value="${walletIn}"
                />
                <input name="csrfToken" id="csrfToken"
                       type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"
                />

                <input type="submit" class="btn btn-default" />

            </div>
        </form >
        <script  th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function () {
                var colleaguesList = /*[[${colleaguesList}]]*/ 'default';

                if($('#inDate').val()==""){

                    var now = new Date();

                    var day = ("0" + now.getDate()).slice(-2);
                    var month = ("0" + (now.getMonth() + 1)).slice(-2);

                    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

                    $('#inDate').val(today);
                }

                if($('#selectedOtherPartner').val()!='' && $('input[name=otherPartnerType]').val()=="" &&  $('input[name=otherPartnerId]').val()=="")
                {

                    $('input[name=otherPartnerType]').val(colleaguesList[$('#selectedOtherPartner').val()].otherPartnerType);
                    $('input[name=otherPartnerId]').val(colleaguesList[$('#selectedOtherPartner').val()].id);
                }else{
                    $('input[name=otherPartnerType]').val("");
                    $('input[name=otherPartnerId]').val("");
                }

                $('#selectedOtherPartner').on('change', function() {
                    if(this.value!="")
                    {
                        $('input[name=otherPartnerType]').val(colleaguesList[this.value].otherPartnerType);
                        $('input[name=otherPartnerId]').val(colleaguesList[this.value].id);
                    }else{
                        $('input[name=otherPartnerType]').val("");
                        $('input[name=otherPartnerId]').val("");
                    }
                })

            })
            /*]]>*/
        </script>
    </div>


    <div class="panel panel-default" th:fragment="cashInCreateCashInFromServiceProvision" >
        <form th:object="${cashInFromServiceProvision}" action="/account/cash/cashin/cashdesk/create/cashinfromserviceprovision"   method="post" >
            <div style="margin: 50px">
                <div class="form-group row ">
                    <label for="selectedCustomer" class=" col-md-4 col-form-label" >Գնորդ</label>
                    <div class="col-md-6" >
                        <select id="selectedCustomer"
                                class="form-control"
                                th:field="*{customerIndex}"
                                th:name="customerIndex">

                            <option value=''> __ԸՆՏՐԵԼ__ </option>
                            <option th:each="customer,iterStat  : ${customerList}"
                                    th:value="${iterStat.index}"
                                    th:text="${customer.getCustomerName()}"
                            />
                        </select>
                        <small th:if="${#fields.hasErrors('customerIndex')}" th:errors="*{customerIndex}"  class="form-text text-danger" />
                    </div>
                    <div class="col-md-1">
                        <a  type="button" th:href="@{'/account/cash/create/customer'}" class="btn btn-default btn-sm" >
                            <span class="glyphicon glyphicon-plus-sign"></span> Գնորդ
                        </a>
                    </div>
                </div>


                <div class="form-group row ">
                    <label for="inDate" class=" col-md-4 col-form-label" >Ամսաթիվ</label>
                        <div class="col-md-6" >
                            <input id="inDate"
                                   class="form-control"
                                   type="date"
                                   th:name="inDate"
                                   th:field="*{walletIn.inDate}"
                            />
                            <small th:if="${#fields.hasErrors('walletIn.inDate')}" th:errors="*{walletIn.inDate}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="inCash" class=" col-md-4 col-form-label" >Մուտքի գումար</label>
                        <div class="col-md-6" >
                            <input id="inCash"
                                   class="form-control"
                                   type="text"
                                   th:name="inCash"
                                   th:field="*{walletIn.inCash}"
                            />
                            <small th:if="${#fields.hasErrors('walletIn.inCash')}" th:errors="*{walletIn.inCash}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="contractDate" class=" col-md-4 col-form-label" >Պայմանագրի ամսաթիվ</label>
                        <div class="col-md-6" >
                            <input id="contractDate"
                                   class="form-control"
                                   type="date"
                                   th:name="contractDate"
                                   th:field="*{contractDate}"
                            />
                            <small th:if="${#fields.hasErrors('contractDate')}" th:errors="*{contractDate}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="contractNubmer" class=" col-md-4 col-form-label" >Պայմանագրի համար</label>
                        <div class="col-md-6" >
                            <input id="contractNubmer"
                                   class="form-control"
                                   type="text"
                                   th:name="contractNubmer"
                                   th:field="*{contractNubmer}"
                            />
                            <small th:if="${#fields.hasErrors('contractNubmer')}" th:errors="*{contractNubmer}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="note" class=" col-md-4 col-form-label" >Նշումներ</label>
                        <div class="col-md-6" >
                            <input id="note"
                                   class="form-control"
                                   type="text"
                                   th:name="note"
                                   th:field="*{walletIn.note}"
                            />
                            <small th:if="${#fields.hasErrors('walletIn.note')}" th:errors="*{walletIn.note}"  class="form-text text-danger" />
                        </div>
                </div>

                <input
                        type="hidden"
                        th:field="*{customerId}"
                        th:value="${customerId}"
                />
                <input
                        type="hidden"
                        th:field="*{customerType}"
                        th:value="${customerType}"
                />

                <input
                        type="hidden"
                        th:field="*{id}"
                        th:value="${id}"
                />
                <input
                        type="hidden"
                        id="organizationId"
                        th:field="*{organization}"
                        th:value="${organization}"
                />
                <input
                        type="hidden"
                        id="walletIn"
                        th:field="*{walletIn}"
                        th:value="${walletIn}"
                />

                <input name="csrfToken" id="csrfToken"
                       type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"
                />


                <input type="submit" class="btn btn-default" />
            </div>
        </form >
        <script  th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function () {
                var customerList = /*[[${customerList}]]*/ 'default';

                if($('#inDate').val()==""){

                    var now = new Date();

                    var day = ("0" + now.getDate()).slice(-2);
                    var month = ("0" + (now.getMonth() + 1)).slice(-2);

                    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

                    $('#inDate').val(today);
                }
                console.log("out if");
                if($('#selectedCustomer').val()!='' && $('input[name=customerType]').val()=="" && $('input[name=customerId]').val()=="")
                {

                    $('input[name=customerType]').val(customerList[$('#selectedCustomer').val()].customerType);
                    $('input[name=customerId]').val(customerList[$('#selectedCustomer').val()].id);
                }
                $('#selectedCustomer').on('change', function() {
                    if(this.value!="")
                    {
                        $('input[name=customerType]').val(customerList[this.value].customerType);
                        $('input[name=customerId]').val(customerList[this.value].id);
                    }
                    else{
                        $('input[name=customerType]').val("");
                        $('input[name=customerId]').val("");
                    }
                })
            })
            /*]]>*/
        </script>
    </div>
    <div class="panel panel-default" th:fragment="cashInCreateCashInFromCredit" >
        <form th:object="${cashInFromCredit}" action="/account/cash/cashin/cashdesk/create/cashinfromcredit" id="cashInFromCredit"  method="post" >
            <div style="margin: 50px">
                <div class="form-group row ">
                    <label for="selectedOtherPartner" class=" col-md-4 col-form-label" >Այլ Գործընկեր</label>
                    <div class="col-md-6" >
                        <select id="selectedOtherPartner"
                                class="form-control"
                                th:field="*{otherPartnerIndex}"
                                th:name="otherPartnerIndex">

                            <option value=""> __ԸՆՏՐԵԼ__ </option>
                            <option th:each="colleague,iterStat  : ${colleaguesList}"
                                    th:value="${iterStat.index}"
                                    th:text="${colleague.getOtherPartnerName()}"
                            />
                        </select>
                        <small th:if="${#fields.hasErrors('otherPartnerIndex')}" th:errors="*{otherPartnerIndex}"  class="form-text text-danger" />
                    </div>
                    <div class="col-md-1">
                        <a type="button" th:href="@{'/account/cash/create/otherpartner'}" class="btn btn-default btn-sm" >
                            <span class="glyphicon glyphicon-plus-sign"></span> Այլ Գործընկեր
                        </a>
                    </div>
                </div>

                <div class="form-group row ">
                    <label for="inDate" class=" col-md-4 col-form-label" >Ամսաթիվ</label>
                        <div class="col-md-6" >
                            <input id="inDate"
                                   class="form-control"
                                   type="date"
                                   th:name="inDate"
                                   th:field="*{walletIn.inDate}"
                            />
                            <small th:if="${#fields.hasErrors('walletIn.inDate')}" th:errors="*{walletIn.inDate}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="inCash" class=" col-md-4 col-form-label" >Մուտքի գումար</label>
                        <div class="col-md-6" >
                            <input id="inCash"
                                   class="form-control"
                                   type="text"
                                   th:name="inCash"
                                   th:field="*{walletIn.inCash}"
                            />
                            <small th:if="${#fields.hasErrors('walletIn.inCash')}" th:errors="*{walletIn.inCash}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="note" class=" col-md-4 col-form-label" >Նշումներ</label>
                        <div class="col-md-6" >
                            <input id="note"
                                   class="form-control"
                                   type="text"
                                   th:name="note"
                                   th:field="*{walletIn.note}"
                            />
                            <small th:if="${#fields.hasErrors('walletIn.note')}" th:errors="*{walletIn.note}"  class="form-text text-danger" />
                        </div>
                </div>
                <input
                        type="hidden"
                        id="otherPartnerId"
                        th:field="*{otherPartnerId}"
                        th:value="${otherPartnerId}"
                />
                <input
                        type="hidden"
                        id="otherPartnerType"
                        th:field="*{otherPartnerType}"
                        th:value="${otherPartnerType}"
                />

                <input
                        type="hidden"
                        th:field="*{id}"
                        th:value="${id}"
                />
                <input
                        type="hidden"
                        id="organizationId"
                        th:field="*{organization}"
                        th:value="${organization}"
                />
                <input
                        type="hidden"
                        id="walletIn"
                        th:field="*{walletIn}"
                        th:value="${walletIn}"
                />
                <input name="csrfToken" id="csrfToken"
                       type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"
                />


                <input type="submit" class="btn btn-default" />
            </div>
        </form >
        <script  th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function () {
                var colleaguesList = /*[[${colleaguesList}]]*/ 'default';
                if($('#inDate').val()==""){

                    var now = new Date();

                    var day = ("0" + now.getDate()).slice(-2);
                    var month = ("0" + (now.getMonth() + 1)).slice(-2);

                    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

                    $('#inDate').val(today);
                }


                if($('#selectedOtherPartner').val()!='' && $('input[name=otherPartnerType]').val()=="" &&  $('input[name=otherPartnerId]').val()=="")
                {

                    $('input[name=otherPartnerType]').val(colleaguesList[$('#selectedOtherPartner').val()].otherPartnerType);
                    $('input[name=otherPartnerId]').val(colleaguesList[$('#selectedOtherPartner').val()].id);
                }else{
                    $('input[name=otherPartnerType]').val("");
                    $('input[name=otherPartnerId]').val("");
                }

                $('#selectedOtherPartner').on('change', function() {

                    if(this.value!="")
                    {
                        $('input[name=otherPartnerType]').val(colleaguesList[this.value].otherPartnerType);
                        $('input[name=otherPartnerId]').val(colleaguesList[this.value].id);
                    }else{
                        $('input[name=otherPartnerType]').val("");
                        $('input[name=otherPartnerId]').val("");
                    }
                })

            });
            /*]]>*/
        </script>
    </div>

</body >
</html>