<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div class="container" th:fragment="cashOut">
    <div class="row">
        <br />
        <div class="container" >
            <div class='col-md-2'>
                <a class="btn btn-info" role="button" th:href="@{'/account/cash/cashоut/cashdesk/create/'}">Ավելացնել </a>
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container" id="datetimepicker1">
            <div class='col-md-2'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker6'>
                        <input type="text" class="form-control" id="datepickerStart" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <div class='col-md-2'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker7'>
                        <input type="text" class="form-control" id="datepickerEnd" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <div class='col-md-3'>
                <div class="form-group">
                    <div class="form-check" >
                        <input type="checkbox" class="form-check-input" id="showAll" />
                        <label class="form-check-label" for="showAll" >Ցուցադրել բոլորը</label>
                    </div>
                </div>
            </div>

            <input name="csrfToken" id="csrfToken"
                   type="hidden"

                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"
            />
        </div>
    </div>
    <div id="showCashOut" >

    </div>
    <script th:inline="javascript" >
        /*<![CDATA[*/
        $( "#datepickerStart" ).datepicker();
        $( "#datepickerEnd" ).datepicker();
        $(document).ready(function() {
            var csrf_token = $('#datetimepicker1').find('input[name="_csrf"]').val();
            var datePickerStart = $( "#datepickerStart.hasDatepicker" ).datepicker("setDate",new Date( new Date().getFullYear(),new Date().getMonth(),1));
            var datePickerEnd = $( "#datepickerEnd.hasDatepicker" ).datepicker("setDate",new Date( new Date().getFullYear(),new Date().getMonth()+1,0));
            var DateRang ={
                start:datePickerStart.datepicker("getDate"),
                end:datePickerEnd.datepicker("getDate"),
                showAll:Boolean($("#showAll").is(':checked'))
            }
            console.log(DateRang);

            $.ajax({
                method : "POST",
                contentType : "application/json",
                url: '/account/cash/cashout/cashdesk/show',
                dataType: 'json',
                data :JSON.stringify(DateRang),
                beforeSend: function(xhr){
                    xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                },  success: function (msg){
                    if(msg == null)
                        $("#showCashOut").empty();
                    else
                    {
                        console.log(msg);
                        showCashIn(msg);
                    }


                },
                error:
                    function(data){

                        console.log(data.responseText);
                    }
            });

            datePickerStart.on("change", function() {
                $.ajax({
                    method : "POST",
                    contentType : "application/json",
                    url: '/account/cash/cashout/cashdesk/show',
                    dataType: 'json',
                    data :JSON.stringify(DateRang),
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                    },  success: function (msg){
                        if(msg == null)
                            $("#showCashOut").empty();
                        else
                        {
                            console.log(msg);
                            showCashIn(msg);
                        }


                    },
                    error:
                        function(data){

                            console.log(data.responseText);
                        }
                });
            });
            datePickerEnd.on("change", function() {
                $.ajax({
                    method : "POST",
                    contentType : "application/json",
                    url: '/account/cash/cashout/cashdesk/show',
                    dataType: 'json',
                    data :JSON.stringify(DateRang),
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                    },  success: function (msg){
                        if(msg == null)
                            $("#showCashOut").empty();
                        else
                        {
                            console.log(msg);
                            showCashOut(msg);
                        }


                    },
                    error:
                        function(data){

                            console.log(data.responseText);
                        }
                });
            });
        });

        /*]]>*/
    </script>
    <!-- <div id="filterForm" class="range-picker" >
         <a class="btn btn-info" role="button" th:href="@{'/account/cash/cashоut/cashdesk/create/'}">Ավելացնել </a>
         <br/>
         <br/>
         <label>Սկիզբ:</label>
         <input type="text" class="datepicker from"/>
         <label>Վերջ:</label>
         <input type="text" class="datepicker to" />
         <input type="checkbox" class="range-picker" id="showAll" name="showAll" />
         <label> Ցուցադրել բոլորը </label>

         <input name="csrfToken" id="csrfToken"
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
     </div>
     <div id="showCashOut" >
     </div>
     <script>
         /*<![CDATA[*/
         function toDate(dateStr) {
             var parts = dateStr.split("/");

             return new Date(parts[2]+"-"+parts[0]+"-"+parts[1]);
         }


         $(function () {
             $('.range-picker').on('change', function () {
                 var newRange = String( $(this).attr('data-range'));
                 var start="" ;
                 var end="";
                 var showAll = Boolean($("#showAll").is(':checked'));

                 var csrf_token = $('#filterForm').find('input[name="_csrf"]').val();
                 if(newRange.length>11)
                 {
                     start = newRange.substring(0, newRange.indexOf('-'));
                     end   = newRange.substring(newRange.indexOf('-')+1,newRange.length );
                 }
                 else if(newRange.indexOf('-')==0)
                     end =  newRange.substring(newRange.indexOf('-')+1,newRange.length );
                 else
                     start=newRange.substring(0, newRange.indexOf('-'));
                 start = toDate(start);
                 end = toDate(end);

                 console.log(start);
                 var DateRang={
                     start:start,
                     end:end,
                     showAll:showAll
                 };

                 if(showAll==false)
                     $('#showCashOut').empty();


                 $.ajax({

                     method : "POST",
                     contentType : "application/json",
                     url: '/account/cash/cashout/cashdesk/show',
                     dataType: 'json',
                     data :JSON.stringify(DateRang),
                     beforeSend: function(xhr){
                         xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                     },  success: function (msg){
                         if(msg == null)
                             $('#showCashOut').empty();

                             //showCashOut(msg);

                     },

                     error:
                         function(data){

                             console.log(data.responseText);
                         }
                 });

             });
         });
         /*]]>*/
     </script>-->

</div>
<div class="container" th:fragment="cashOutCreate">

    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutfortax'}" > Հարկ </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforgoodsprovider'}" > Վճարում մատակարարին ապրանքների համար </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforserivceprovider'}" > Վճարում մատակարարին ծառայության համար </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforrent'}" > Վճարում վարձակալության համար </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforbankaccount'}" > Վճարում բանկային հաշվին </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforcreditpayment'}" > Վարկի մարում </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforredemptionpercent'}" > Վարկի տոկոսի մարում </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforloanpayment'}" > Փոխառության մարում </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforbankspending'}" > Բանկային ծախս </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforotherexpenses'}" > Այլ ծախսեր </a>
</div>

<div class="container" th:fragment="cashOutForBankAccountCreate" >
    <form th:object="${cashOutForBankAccount}" action="/account/cash/cashout/cashdesk/create/cashoutforbankaccount" id="cashOutForRentCredit"  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <label>Բանկային հաշիվ</label>
        <select id="bankAccount"
                th:name="bankAccountId"
                th:field="*{bankAccountId}"
        >
            <option value=""> __ԸՆՏՐԵԼ__ </option>
            <option     th:each="bankAccount: ${bankAccounts}"
                        th:value="${bankAccount.id}"
                        th:text="${bankAccount.bankName}+'-'+${bankAccount.bankAccount}"
            />
        </select>
        <br />
        <label>Ամսաթիվ</label>
        <input type="date"
               th:name="outDate"
               th:field="*{walletOut.outDate}"
        />
        <br />
        <label>Ելքի գումար</label>
        <input type="text"
               th:name="outCash"
               th:field="*{walletOut.outCash}"
        />
        <br />

        <label>Նշումներ</label>
        <input type="text"
               th:name="note"
               th:field="*{walletOut.note}"
        />
        <br />
        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />


        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />
        <input type="submit" class="btn btn-default" />
    </form>

</div>
<div class="container" th:fragment="cashOutForBankSpendingCreate" >
    <form th:object="${cashOutForBankSpending}" action="/account/cash/cashout/cashdesk/create/cashoutforbankspending" id="cashOutForBankSpendingCreate"  method="post" >

        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>

        <label>Ամսաթիվ</label>
        <input type="date"
               th:name="outDate"
               th:field="*{walletOut.outDate}"
        />
        <br />
        <label>Ելքի գումար</label>
        <input type="text"
               th:name="outCash"
               th:field="*{walletOut.outCash}"
        />
        <br />

        <label>Նշումներ</label>
        <input type="text"
               th:name="note"
               th:field="*{walletOut.note}"
        />
        <br />
        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />

        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />
        <input type="submit" class="btn btn-default" />
    </form>
</div>
<div class="container" th:fragment="cashOutForCreditPaymentCreate" >

    <form th:object="${cashOutForCreditPayment}" action="/account/cash/cashout/cashdesk/create/cashoutforcreditpayment" id="cashInFromCredit"  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>



        <label>Այլ Գործընկեր</label>
        <select id="selectedSupplier"
                th:field="*{otherPartnerName}"
                th:name="otherPartnerName"

        >
            <option value=""> __ԸՆՏՐԵԼ__ </option>
            <option th:each="supplier,iterStat  : ${suppliers}"
                    th:value="${iterStat.index}"
                    th:text="${supplier.getSupplierName()}"
            />
        </select>

        <a type="button" th:href="@{'/account/cash/create/otherPartner'}" class="btn btn-default btn-sm" >
            <span class="glyphicon glyphicon-plus-sign"></span> Այլ Գործընկեր
        </a>
        <br />
        <label>Ամսաթիվ</label>
        <input type="date"
               th:name="outDate"
               th:field="*{walletOut.outDate}"
        />
        <br />
        <label>Ելքի գումար</label>
        <input type="text"
               th:name="outCash"
               th:field="*{walletOut.outCash}"
        />
        <br />
        <label>Նշումներ</label>
        <input type="text"
               th:name="note"
               th:field="*{walletOut.note}"
        />
        <br />

        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />
        <input
                type="hidden"
                th:field="*{otherPartnerId}"
                th:value="${otherPartnerId}"
        />
        <input
                type="hidden"
                th:field="*{otherPartnerType}"
                th:value="${otherPartnerType}"
        />


        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />
        <input type="submit" class="btn btn-default" />
    </form>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(function () {
            $(document).ready(function () {
                var suppliers = /*[[${suppliers}]]*/ 'default';


                $('#selectedSupplier').on('change', function() {
                    if(this.value!="")
                    {
                        $('input[name=otherPartnerType]').val(suppliers[this.value].supplierType);
                        $('input[name=otherPartnerId]').val(suppliers[this.value].id);
                    }else{
                        $('input[name=otherPartnerType]').val("");
                        $('input[name=otherPartnerId]').val("");
                    }
                })


            });
        });
        /*]]>*/
    </script>


</div>
<div class="container" th:fragment="cashOutForGoodsProviderCreate" >
    <form th:object="${cashOutForGoodsProvider}" action="/account/cash/cashout/cashdesk/create/cashoutforgoodsprovider" id="cashInFromCredit"  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>



        <label>Մատակարար</label>
        <select id="selectedSupplier"


        >
            <option value=""> __ԸՆՏՐԵԼ__ </option>
            <option th:each="supplier,iterStat  : ${suppliers}"
                    th:value="${iterStat.index}"
                    th:text="${supplier.getSupplierName()}"
            />
        </select>

        <a type="button" th:href="@{'/account/cash/create/supplier'}" class="btn btn-default btn-sm" >
            <span class="glyphicon glyphicon-plus-sign"></span> Մատակարար
        </a>
        <br />
        <label>Ամսաթիվ</label>
        <input type="date"
               th:name="outDate"
               th:field="*{walletOut.outDate}"
        />
        <br />
        <label>Ելքի գումար</label>
        <input type="text"
               th:name="outCash"
               th:field="*{walletOut.outCash}"
        />
        <br />
        <label>Բանկային միջնորդավճար</label>
        <input type="text"
               th:name="bankCommissions"
               th:field="*{bankCommissions}"
        />
        <br />
        <input type="date"
               th:name="contractDate"
               th:field="*{contractDate}"
        />
        <br />

        <label>Պայմանագրի համար</label>
        <input type="text"
               th:name="contractNumber"
               th:field="*{contractNumber}"
        />
        <br />
        <label>Նշումներ</label>
        <input type="text"
               th:name="note"
               th:field="*{note}"
        />
        <br />

        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />
        <input
                type="hidden"
                th:field="*{supplierId}"
                th:value="${supplierId}"
        />
        <input
                type="hidden"
                th:field="*{supplierType}"
                th:value="${supplierType}"
        />


        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />
        <input type="submit" class="btn btn-default" />
    </form>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(function () {
            $(document).ready(function () {
                var suppliers = /*[[${suppliers}]]*/ 'default';


                $('#selectedSupplier').on('change', function() {
                    if(this.value!="")
                    {
                        $('input[name=supplierType]').val(suppliers[this.value].supplierType);
                        $('input[name=supplierId]').val(suppliers[this.value].id);
                    }else{
                        $('input[name=supplierType]').val("");
                        $('input[name=supplierId]').val("");
                    }
                })


            });
        });
        /*]]>*/
    </script>

</div>
<div class="container" th:fragment="cashOutForLoanPaymentCreate" >
    <form th:object="${cashOutForLoanPayment}" action="/account/cash/cashout/cashdesk/create/cashoutforloanpayment" id="cashOutForLoanPaymentCreate"  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>



        <label>Այլ Գործընկեր</label>
        <select id="selectedSupplier"
                th:field="*{otherPartnerName}"
                th:name="otherPartnerName"

        >
            <option value=""> __ԸՆՏՐԵԼ__ </option>
            <option th:each="supplier,iterStat  : ${suppliers}"
                    th:value="${iterStat.index}"
                    th:text="${supplier.getSupplierName()}"
            />
        </select>

        <a type="button" th:href="@{'/account/cash/create/otherpartner'}" class="btn btn-default btn-sm" >
            <span class="glyphicon glyphicon-plus-sign"></span> Այլ Գործընկեր
        </a>
        <br />
        <label>Ամսաթիվ</label>
        <input type="date"
               th:name="outDate"
               th:field="*{walletOut.outDate}"
        />
        <br />
        <label>Ելքի գումար</label>
        <input type="text"
               th:name="outCash"
               th:field="*{walletOut.outCash}"
        />
        <br />
        <label>Բանկային միջնորդավճար</label>
        <input type="date"
               th:name="bankCommissions"
               th:field="*{bankCommissions}"
        />
        <br />
        <label>Նշումներ</label>
        <input type="text"
               th:name="note"
               th:field="*{walletOut.note}"
        />
        <br />

        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />
        <input
                type="hidden"
                th:field="*{otherPartnerId}"
                th:value="${otherPartnerId}"
        />
        <input
                type="hidden"
                th:field="*{otherPartnerType}"
                th:value="${otherPartnerType}"
        />


        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />
        <input type="submit" class="btn btn-default" />
    </form>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(function () {
            $(document).ready(function () {
                var suppliers = /*[[${suppliers}]]*/ 'default';


                $('#selectedSupplier').on('change', function() {
                    if(this.value!="")
                    {
                        $('input[name=otherPartnerType]').val(suppliers[this.value].supplierType);
                        $('input[name=otherPartnerId]').val(suppliers[this.value].id);
                    }else{
                        $('input[name=otherPartnerType]').val("");
                        $('input[name=otherPartnerId]').val("");
                    }
                })


            });
        });
        /*]]>*/
    </script>



</div>
<div class="container" th:fragment="cashOutForOtherExpensesCreate" >
    <form th:object="${cashOutForOtherExpenses}" action="/account/cash/cashout/cashdesk/create/cashoutforotherexpenses" id="cashOutForOtherExpensesCreate"  method="post" >

        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>

        <label>Ամսաթիվ</label>
        <input type="date"
               th:name="outDate"
               th:field="*{walletOut.outDate}"
        />
        <br />
        <label>Ելքի գումար</label>
        <input type="text"
               th:name="outCash"
               th:field="*{walletOut.outCash}"
        />
        <br />
        <label>Բանկային միջնորդավճար</label>
        <input type="text"
               th:name="bankCommissions"
               th:field="*{bankCommissions}"
        />
        <br />

        <label>Նշումներ</label>
        <input type="text"
               th:name="note"
               th:field="*{walletOut.note}"
        />
        <br />
        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />

        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />
        <input type="submit" class="btn btn-default" />
    </form>

</div>
<div class="container" th:fragment="cashOutForRedemptionPercentCreate" >

    <form th:object="${cashOutForRedemptionPercent}" action="/account/cash/cashout/cashdesk/create/cashoutforredemptionpercent" id="cashOutForRedemptionPercentCredit"  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>



        <label>Այլ Գործընկեր</label>
        <select id="selectedSupplier"
                th:field="*{otherPartnerName}"
                th:name="otherPartnerName"

        >
            <option value=""> __ԸՆՏՐԵԼ__ </option>
            <option th:each="supplier,iterStat  : ${suppliers}"
                    th:value="${iterStat.index}"
                    th:text="${supplier.getSupplierName()}"
            />
        </select>

        <a type="button" th:href="@{'/account/cash/create/otherpartner'}" class="btn btn-default btn-sm" >
            <span class="glyphicon glyphicon-plus-sign"></span> Այլ Գործընկեր
        </a>
        <br />
        <label>Ամսաթիվ</label>
        <input type="date"
               th:name="outDate"
               th:field="*{walletOut.outDate}"
        />
        <br />
        <label>Ելքի գումար</label>
        <input type="text"
               th:name="outCash"
               th:field="*{walletOut.outCash}"
        />
        <br />
        <label>Նշումներ</label>
        <input type="text"
               th:name="note"
               th:field="*{walletOut.note}"
        />
        <br />

        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />
        <input
                type="hidden"
                th:field="*{otherPartnerId}"
                th:value="${otherPartnerId}"
        />
        <input
                type="hidden"
                th:field="*{otherPartnerType}"
                th:value="${otherPartnerType}"
        />


        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />
        <input type="submit" class="btn btn-default" />
    </form>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(function () {
            $(document).ready(function () {
                var suppliers = /*[[${suppliers}]]*/ 'default';


                $('#selectedSupplier').on('change', function() {
                    if(this.value!="")
                    {
                        $('input[name=otherPartnerType]').val(suppliers[this.value].supplierType);
                        $('input[name=otherPartnerId]').val(suppliers[this.value].id);
                    }else{
                        $('input[name=otherPartnerType]').val("");
                        $('input[name=otherPartnerId]').val("");
                    }
                })


            });
        });
        /*]]>*/
    </script>


</div>
<div class="container" th:fragment="cashOutForRentCreate" >

    <form th:object="${cashOutForRent}" action="/account/cash/cashout/cashdesk/create/cashoutforrent" id="cashOutForRentCredit"  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>



        <label>Մատակարար</label>
        <select id="selectedSupplier"
                th:field="*{supplierName}"
                th:name="supplierName"

        >
            <option value=""> __ԸՆՏՐԵԼ__ </option>
            <option th:each="supplier,iterStat  : ${suppliers}"
                    th:value="${iterStat.index}"
                    th:text="${supplier.getSupplierName()}"
            />
        </select>

        <a type="button" th:href="@{'/account/cash/create/supplier'}" class="btn btn-default btn-sm" >
            <span class="glyphicon glyphicon-plus-sign"></span> Մատակարար
        </a>
        <br />
        <label>Ամսաթիվ</label>
        <input type="date"
               th:name="outDate"
               th:field="*{walletOut.outDate}"
        />
        <br />
        <label>Ելքի գումար</label>
        <input type="text"
               th:name="outCash"
               th:field="*{walletOut.outCash}"
        />
        <br />
        <label>Բանկային միջնորդավճար</label>
        <input type="text"
               th:name="bankCommissions"
               th:field="*{bankCommissions}"
        />
        <br />
        <label>Պայմանագրի ամսաթիվ</label>
        <input type="date"
               th:name="contractDate"
               th:field="*{contractDate}"
        />
        <br />

        <label>Պայմանագրի համար</label>
        <input type="text"
               th:name="contractNumber"
               th:field="*{contractNumber}"
        />
        <br />
        <label>Նշումներ</label>
        <input type="text"
               th:name="note"
               th:field="*{note}"
        />
        <br />

        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />
        <input
                type="hidden"
                th:field="*{supplierId}"
                th:value="${supplierId}"
        />
        <input
                type="hidden"
                th:field="*{supplierType}"
                th:value="${supplierType}"
        />


        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />
        <input type="submit" class="btn btn-default" />
    </form>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(function () {
            $(document).ready(function () {
                var suppliers = /*[[${suppliers}]]*/ 'default';


                $('#selectedSupplier').on('change', function() {
                    if(this.value!="")
                    {
                        $('input[name=supplierType]').val(suppliers[this.value].supplierType);
                        $('input[name=supplierId]').val(suppliers[this.value].id);
                    }else{
                        $('input[name=supplierType]').val("");
                        $('input[name=supplierId]').val("");
                    }
                })


            });
        });
        /*]]>*/
    </script>

</div>
<div class="container" th:fragment="cashOutForSalaryCreate" >
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutfortax'}" > Հարկ </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforgoodsprovider'}" > Վճարում մատակարարին ապրանքների համար </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforserivceprovider'}" > Վճարում մատակարարին ծառայության համար </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforrent'}" > Վճարում վարձակալության համար </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforbankaccount'}" > Վճարում բանկային հաշվին </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforcreditpayment'}" > Վարկի մարում </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforredemptionpercent'}" > Վարկի տոկոսի մարում </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforloanpayment'}" > Փոխառության մարում </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforbankspending'}" > Բանկային ծախս </a>
    <a class="btn btn-primary btn-lg " th:href="@{'/account/cash/cashout/cashdesk/create/cashoutforotherexpenses'}" > Այլ ծախսեր </a>
</div>
<div class="container" th:fragment="cashOutForSerivceProviderCreate" >

    <form th:object="${cashOutForSerivceProvider}" action="/account/cash/cashout/cashdesk/create/cashoutforserivceprovider" id="cashoutforserivceproviderCredit"  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>



        <label>Մատակարար</label>
        <select id="selectedSupplier"
                th:field="*{supplierName}"
                th:name="supplierName"

        >
            <option value=""> __ԸՆՏՐԵԼ__ </option>
            <option th:each="supplier,iterStat  : ${suppliers}"
                    th:value="${iterStat.index}"
                    th:text="${supplier.getSupplierName()}"
            />
        </select>

        <a type="button" th:href="@{'/account/cash/create/supplier'}" class="btn btn-default btn-sm" >
            <span class="glyphicon glyphicon-plus-sign"></span> Մատակարար
        </a>
        <br />
        <label>Ամսաթիվ</label>
        <input type="date"
               th:name="outDate"
               th:field="*{walletOut.outDate}"
        />
        <br />
        <label>Ելքի գումար</label>
        <input type="text"
               th:name="outCash"
               th:field="*{walletOut.outCash}"
        />
        <br />
        <label>Բանկային միջնորդավճար</label>
        <input type="text"
               th:name="bankCommissions"
               th:field="*{bankCommissions}"
        />
        <br />
        <label>Պայմանագրի ամսաթիվ</label>
        <input type="date"
               th:name="contractDate"
               th:field="*{contractDate}"
        />
        <br />

        <label>Պայմանագրի համար</label>
        <input type="text"
               th:name="contractNumber"
               th:field="*{contractNumber}"
        />
        <br />
        <label>Նշումներ</label>
        <input type="text"
               th:name="note"
               th:field="*{note}"
        />
        <br />

        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />
        <input
                type="hidden"
                th:field="*{supplierId}"
                th:value="${supplierId}"
        />
        <input
                type="hidden"
                th:field="*{supplierType}"
                th:value="${supplierType}"
        />


        <input
                type="hidden"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />
        <input type="submit" class="btn btn-default" />
    </form>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(function () {
            $(document).ready(function () {
                var suppliers = /*[[${suppliers}]]*/ 'default';


                $('#selectedSupplier').on('change', function() {
                    if(this.value!="")
                    {
                        $('input[name=supplierType]').val(suppliers[this.value].supplierType);
                        $('input[name=supplierId]').val(suppliers[this.value].id);
                    }else{
                        $('input[name=supplierType]').val("");
                        $('input[name=supplierId]').val("");
                    }
                })


            });
        });
        /*]]>*/
    </script>

</div>
<div class="container" th:fragment="cashOutForTaxCreate" >


    <form th:object="${cashOutForTax}" action="/account/cash/cashout/cashdesk/create/cashoutfortax" id="cashOutForTax"  method="post" >
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <br />


        <label>Հարկատեսակ</label>
        <select
                th:name="tax.taxType"
                th:field="*{tax.taxType}"
        >
            <option value="0">-- Ընտրել --</option>
        </select>
        <br />

        <label>Բանկային միջնորդավճար</label>
        <input type="text"


        />
        <br />

        <label>Ամսաթիվ</label>
        <input type="date"
               th:name="inDate"
               th:field="*{walletOut.outDate}"
        />
        <br />

        <label>Ելքի գումար</label>
        <input type="text"
               th:name="inCash"
               th:field="*{walletOut.outCash}"
        />
        <label>Նշումներ</label>
        <input type="text"
               th:name="note"
               th:field="*{walletOut.note}"
        />
        <br />
        <input
                type="hidden"
                th:field="*{id}"
                th:value="${id}"
        />

        <input
                type="hidden"
                id="organizationId"
                th:field="*{organization}"
                th:value="${organization}"
        />

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />


        <input type="submit" class="btn btn-default" />
    </form >

</div>



</body >
</html>