<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div class="panel panel-default "   th:fragment="partnerCustomers" >
        <div style="margin: 50px">
                <div class="form-group row ">
                    <input class="form-control"
                           name="csrfToken" id="csrfToken"
                           type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"
                    />
                    <div class="row col-md-14">
                        <div class="btn-group btn-group-justified ">
                            <a href="/account/partner/customer/create/individualcustomer" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"> Անհատ</span></a>
                            <a href="/account/partner/customer/create/privateentrepreneurcustomer" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"> Ա/Զ</span></a>
                            <a href="/account/partner/customer/create/companycustomer" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"> Կազմակերպություն</span></a>

                        </div>
                    </div>

                    <div id="partnerCustomersShow">

                    </div>

                </div>
        </div>
        <script th:inline="javascript" >
            /*<![CDATA[*/

            $(function () {
                $(document).ready(function () {

                    var csrf_token = $("#csrfToken").val();
                    $.ajax({
                        contentType : "application/json",
                        method : "POST",
                        url: '/account/partner/customer/show',
                        dataType: 'json',
                        beforeSend: function(xhr){
                            xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                        },  success: function (msg){
                            console.log(msg);
                            if(msg == null)
                                $('#partnerCustomersShow').empty();
                            else
                                partnerCustomersShow(msg);

                        },

                        error:
                            function(data){

                                console.log(data.responseText);
                            }
                    });

                });
            });
            /*]]>*/
        </script>


    </div>

    <div class="panel panel-default"  th:fragment="individualCustomerCreate" >
        <form th:object="${individualCustomer}" action="/account/partner/customer/create/individualcustomer"  method="post" >
            <div style="margin: 50px">
                <div class="form-group row ">
                    <label for="firstName" class=" col-md-4 col-form-label" >Անուն</label>
                        <div class="col-md-6" >
                            <input id="firstName"
                                   class="form-control"
                                   type="text"
                                   th:name="firstName"
                                   th:field="*{individual.firstName}"
                                   th:value="*{individual?.firstName}"
                            />
                            <small th:if="${#fields.hasErrors('individual.firstName')}" th:errors="*{individual.firstName}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="lastName" class=" col-md-4 col-form-label" >Ազգանուն</label>
                        <div class="col-md-6" >
                            <input id="lastName"
                                   class="form-control"
                                   type="text"
                                   th:name="lastName"
                                   th:field="*{individual.lastName}"
                                   th:value="*{individual?.lastName}"
                            />
                            <small th:if="${#fields.hasErrors('individual.lastName')}" th:errors="*{individual.lastName}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="bDate" class=" col-md-4 col-form-label" >Ծննդյան ամսաթիվ</label>
                        <div class="col-md-6" >
                            <input id="bDate"
                                   class="form-control"
                                   type="date"
                                   th:name="bDate"
                                   th:field="*{bDate}"
                                   th:text="${bDate}"
                            />
                            <small th:if="${#fields.hasErrors('bDate')}" th:errors="*{bDate}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="hch" class=" col-md-4 col-form-label" >ՀԾՀ</label>
                        <div class="col-md-6" >
                            <input id="hch"
                                   class="form-control"
                                   type="text"
                                   th:name="hch"
                                   th:field="*{hch}"
                            />
                            <small th:if="${#fields.hasErrors('hch')}" th:errors="*{hch}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="passportNumber" class=" col-md-4 col-form-label" >Անձնագրի համար</label>
                        <div class="col-md-6" >
                            <input id="passportNumber"
                                   class="form-control"
                                   type="text"
                                   th:name="passportNumber"
                                   th:field="*{passportNumber}"
                            />
                            <small th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="passportSupplier" class=" col-md-4 col-form-label" >Ում կողմից է տրված</label>
                        <div class="col-md-6" >
                            <input id="passportSupplier"
                                   class="form-control"
                                   type="text"
                                   th:name="passportSupplier"
                                   th:field="*{passportSupplier}"
                            />
                            <small th:if="${#fields.hasErrors('passportSupplier')}" th:errors="*{passportSupplier}"  class="form-text text-danger" />
                        </div>
                </div>
                <div class="form-group row ">
                    <label for="passportViewingDate" class=" col-md-4 col-form-label" >Անձնագրի տրման ամսաթիվը</label>
                    <div class="col-md-6" >
                        <input id="passportViewingDate"
                               class="form-control"
                               type="Date"
                               th:name="passportViewingDate"
                               th:field="*{passportViewingDate}"
                        />
                        <small th:if="${#fields.hasErrors('passportViewingDate')}" th:errors="*{passportViewingDate}"  class="form-text text-danger" />
                    </div>
                </div>

                <div class="form-group row ">
                    <label for="openingBalanceType" class=" col-md-4 col-form-label" >Սկզբնական մնացորդի տեսակ</label>
                    <div class="col-md-6" >
                        <select id="openingBalanceType"
                                class="form-control"
                                th:name="openingBalanceType"
                                th:field="*{openingBalanceType}">
                            <option value="debt">Պարտք</option>
                            <option value="prepaid">Կանխավճար</option>
                        </select>
                        <small th:if="${#fields.hasErrors('openingBalanceType')}" th:errors="*{openingBalanceType}"  class="form-text text-danger" />
                    </div>
                </div>

                <div class="form-group row ">
                    <label for="openingBalance" class=" col-md-4 col-form-label" >Սկզբնական մնացորդ</label>
                        <div class="col-md-6" >
                            <input id="openingBalance"
                                   class="form-control"
                                   type="text"
                                   th:name="openingBalance"
                                   th:field="*{openingBalance}"
                            />
                            <small th:if="${#fields.hasErrors('openingBalance')}" th:errors="*{openingBalance}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="address" class=" col-md-4 col-form-label" >Հասցե</label>
                        <div class="col-md-6" >
                            <input id="address"
                                   class="form-control"
                                   type="text"
                                   th:name="address"
                                   th:field="*{address}"
                            />
                            <small th:if="${#fields.hasErrors('address')}" th:errors="*{address}"  class="form-text text-danger" />
                        </div>
                </div>


                <input
                        type="hidden"
                        th:field="*{id}"
                        th:value="${id}"
                />

                <input
                        type="hidden"
                        th:field="*{organization}"
                        th:value="${organization}"
                />
                <input
                        type="hidden"
                        th:field="*{individual}"
                        th:value="*{individual}"
                />

                <input name="csrfToken" id="csrfToken"
                       type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"
                />


                <input type="submit" class="btn btn-default" />
            </div>
        </form >

    </div>
    <div class="panel panel-default" th:fragment="customerSaleCreate">
        <form th:object="${sale}" action="/account/partner/customer/create/sale" class="form-horizontal"  method="post" >
            <div style="margin: 50px">
                <div class="form-group row ">
                    <label for="saleNumber" class=" col-md-4 col-form-label" >№</label>
                    <div class="col-md-6" >
                        <input id="saleNumber"
                               class="form-control"
                               type="text"
                               placeholder="Վաճա. համարը ունի 9 նիշ"
                               th:name="saleNumber"
                               th:field="*{saleNumber}"
                        />
                        <small th:if="${#fields.hasErrors('saleNumber')}" th:errors="*{saleNumber}"  class="form-text text-danger" />
                    </div>
                </div>

                <div class="form-group row ">
                    <label for="selectedCustomer" class=" col-md-4 col-form-label" >Գնորդ</label>
                    <div class="col-md-6" >
                        <select id="selectedCustomer"
                                class="form-control"
                                th:field="*{customerIndex}"
                                th:name="customerIndex">

                            <option value=''> __ԸՆՏՐԵԼ__ </option>
                            <option th:each="customer,iterStat  : ${customerList}"
                                    th:value="${iterStat.index}"
                                    th:text="${customer.getCustomerName()}"
                            />
                        </select>
                        <small th:if="${#fields.hasErrors('customerIndex')}" th:errors="*{customerIndex}"  class="form-text text-danger" />
                    </div>
                    <div class="col-md-1">
                        <a  type="button" th:href="@{'/account/cash/create/customer'}" class="btn btn-default btn-sm" >
                            <span class="glyphicon glyphicon-plus-sign"></span> Գնորդ
                        </a>
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="typeSale" class=" col-md-4 col-form-label" >Տեսակ</label>
                    <div class="col-md-6" >
                        <select id="typeSale"
                                class="form-control"
                                th:field="*{typeSale}"
                                th:name="typeSale">

                            <option value=''> __ԸՆՏՐԵԼ__ </option>
                            <option value="goods">Ապրանք </option>
                            <option value="service">Ծառայություն </option>
                        </select>
                        <small th:if="${#fields.hasErrors('typeSale')}" th:errors="*{typeSale}"  class="form-text text-danger" />
                    </div>

                </div>

                <div class="form-group row ">
                    <label for="saleDate" class=" col-md-4 col-form-label" >Ամսաթիվ</label>
                    <div class="col-md-6" >
                        <input id="saleDate"
                               class="form-control"
                               type="date"
                               th:name="saleDate"
                               th:field="*{saleDate}"
                        />
                        <small th:if="${#fields.hasErrors('saleDate')}" th:errors="*{saleDate}"  class="form-text text-danger" />
                    </div>
                </div>


                <div class="form-group row ">
                    <label for="salesAmount" class=" col-md-4 col-form-label" >Վաճառքի գումար</label>
                    <div class="col-md-6" >
                        <input type="text"
                               class="form-control"
                               id="salesAmount"

                               th:name="salesAmount"
                               th:field="*{salesAmount}"
                        />
                        <small th:if="${#fields.hasErrors('salesAmount')}" th:errors="*{salesAmount}"  class="form-text text-danger" />
                    </div>
                </div>

                <div class="form-group row ">
                    <div class="col-md-1 form-check form-check-inline" >
                        <input  th:name="personalWalletIn"
                                th:field="*{personalWalletIn}"
                                th:checked="${personalWalletIn}"
                                type="checkbox"
                                class="form-check-input"
                                id="personalWalletIn"
                        >
                        </input>
                    </div>
                    <label for="personalWalletIn" class=" col-md-11 col-form-label" > Նշելով կպատրաստվի դրամարկղի մուտք միևնույն գումարի չափով:</label>
                </div>

                <div class="form-group row ">
                    <label for="salesAmount" class=" col-md-4 col-form-label" >Պայմանագրի համար</label>
                    <div class="col-md-6" >
                        <input type="text"
                               class="form-control"
                               id="contractNubmer"

                               th:name="contractNubmer"
                               th:field="*{contractNubmer}"
                        />
                        <small th:if="${#fields.hasErrors('contractNubmer')}" th:errors="*{contractNubmer}"  class="form-text text-danger" />
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="note" class=" col-md-4 col-form-label" >Նշումներ</label>
                    <div class="col-md-6" >
                        <input type="text"
                               class="form-control"
                               id="note"

                               th:name="note"
                               th:field="*{note}"
                        />
                        <small th:if="${#fields.hasErrors('note')}" th:errors="*{note}"  class="form-text text-danger" />
                    </div>
                </div>
                <input
                        type="hidden"
                        th:field="*{customerId}"
                        th:value="${customerId}"
                />
                <input
                        type="hidden"
                        th:field="*{customerType}"
                        th:value="${customerType}"
                />

                <input
                        type="hidden"
                        th:field="*{id}"
                        th:value="${id}"
                />
                <input
                        type="hidden"
                        id="organizationId"
                        th:field="*{organization}"
                        th:value="${organization}"
                />


                <input name="csrfToken" id="csrfToken"
                       type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"
                />

                <input type="submit" class="btn btn-default" />
            </div>
        </form >

        <script  th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function () {
                var customerList = /*[[${customerList}]]*/ 'default';

                if($('#saleDate').val()==""){

                    var now = new Date();

                    var day = ("0" + now.getDate()).slice(-2);
                    var month = ("0" + (now.getMonth() + 1)).slice(-2);

                    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

                    $('#saleDate').val(today);
                }
                console.log("out if");
                if($('#selectedCustomer').val()!='' && $('input[name=customerType]').val()=="" && $('input[name=customerId]').val()=="")
                {

                    $('input[name=customerType]').val(customerList[$('#selectedCustomer').val()].customerType);
                    $('input[name=customerId]').val(customerList[$('#selectedCustomer').val()].id);
                }
                $('#selectedCustomer').on('change', function() {
                    if(this.value!="")
                    {
                        $('input[name=customerType]').val(customerList[this.value].customerType);
                        $('input[name=customerId]').val(customerList[this.value].id);
                    }
                    else{
                        $('input[name=customerType]').val("");
                        $('input[name=customerId]').val("");
                    }
                })
            })
            /*]]>*/
        </script>
    </div>
    <div class="panel panel-default" th:fragment="partnerCustomerSale">
        <div style="margin: 50px">
            <div class="row">
                <div class="container">
                    <div class='col-md-2'>
                        <a class="btn btn-info" role="button" th:href="@{'/account/partner/customer/create/sale/'}">Ավելացնել </a>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container" id="datetimepicker1">
                    <div class='col-md-2'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <input type="text" class="form-control" id="datepickerStart" />
                                <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <input type="text" class="form-control" id="datepickerEnd" />
                                <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class="form-group">
                            <div class="form-check" >
                                <input type="checkbox" class="form-check-input" id="showAll" />
                                <label class="form-check-label" for="showAll" >Ցուցադրել բոլորը</label>
                            </div>
                        </div>
                    </div>

                    <input name="csrfToken" id="csrfToken"
                           type="hidden"

                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"
                    />
                </div>
            </div>
            <div id="showCustomerSales" >

            </div>

        </div>
        <script th:inline="javascript" >
            /*<![CDATA[*/
            $( "#datepickerStart" ).datepicker();
            $( "#datepickerEnd" ).datepicker();

            $(document).ready(function() {
                var csrf_token = $('#datetimepicker1').find('input[name="_csrf"]').val();
                var datePickerStart = $( "#datepickerStart.hasDatepicker" ).datepicker("setDate",new Date( new Date().getFullYear(),new Date().getMonth(),1));
                var datePickerEnd = $( "#datepickerEnd.hasDatepicker" ).datepicker("setDate",new Date( new Date().getFullYear(),new Date().getMonth()+1,0));
                var DateRang ={
                    start:datePickerStart.datepicker("getDate"),
                    end:datePickerEnd.datepicker("getDate"),
                    showAll:Boolean($("#showAll").is(':checked'))
                }
                console.log(DateRang);

                $.ajax({
                    method : "POST",
                    contentType : "application/json",
                    url: '/account/partner/customer/sale/show',
                    dataType: 'json',
                    data :JSON.stringify(DateRang),
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                    },  success: function (msg){
                        if(msg == null)
                            $("#showCustomerSales").empty();
                        else
                        {
                            console.log(msg);
                            showCustomerSales(msg);
                        }


                    },
                    error:
                        function(data){

                            console.log(data.responseText);
                        }
                });
                datePickerStart.on("change", function() {
                    var DateRang ={
                        start:datePickerStart.datepicker("getDate"),
                        end:datePickerEnd.datepicker("getDate"),
                        showAll:Boolean($("#showAll").is(':checked'))
                    }
                    $.ajax({
                        method : "POST",
                        contentType : "application/json",
                        url: '/account/partner/customer/sale/show',
                        dataType: 'json',
                        data :JSON.stringify(DateRang),
                        beforeSend: function(xhr){
                            xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                        },  success: function (msg){
                            if(msg == null)
                                $("#showCustomerSales").empty();
                            else
                            {
                                console.log(msg);
                                showCustomerSales(msg);
                            }


                        },
                        error:
                            function(data){

                                console.log(data.responseText);
                            }
                    });
                });
                datePickerEnd.on("change", function() {
                    var DateRang ={
                        start:datePickerStart.datepicker("getDate"),
                        end:datePickerEnd.datepicker("getDate"),
                        showAll:Boolean($("#showAll").is(':checked'))
                    }
                    $.ajax({
                        method : "POST",
                        contentType : "application/json",
                        url: '/account/cash/cashin/cashdesk/show',
                        dataType: 'json',
                        data :JSON.stringify(DateRang),
                        beforeSend: function(xhr){
                            xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                        },  success: function (msg){
                            if(msg == null)
                                $("#showCashIn").empty();
                            else
                            {
                                console.log(msg);
                                showCashIn(msg);
                            }


                        },
                        error:
                            function(data){

                                console.log(data.responseText);
                            }
                    });
                });
                $('#showAll').change(function() {
                    if(this.checked) {
                        var DateRang ={
                            start:datePickerStart.datepicker("getDate"),
                            end:datePickerEnd.datepicker("getDate"),
                            showAll:Boolean($("#showAll").is(':checked'))
                        }
                        $.ajax({
                            method : "POST",
                            contentType : "application/json",
                            url: '/account/partner/customer/sale/show',
                            dataType: 'json',
                            data :JSON.stringify(DateRang),
                            beforeSend: function(xhr){
                                xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                            },  success: function (msg){
                                if(msg == null)
                                    $("#showCustomerSales").empty();
                                else
                                {
                                    console.log(msg);
                                    showCustomerSales(msg);
                                }


                            },
                            error:
                                function(data){

                                    console.log(data.responseText);
                                }
                        });

                    }else
                    {
                        var DateRang ={
                            start:datePickerStart.datepicker("getDate"),
                            end:datePickerEnd.datepicker("getDate"),
                            showAll:Boolean($("#showAll").is(':checked'))
                        }
                        $.ajax({
                            method : "POST",
                            contentType : "application/json",
                            url: '/account/partner/customer/sale/show',
                            dataType: 'json',
                            data :JSON.stringify(DateRang),
                            beforeSend: function(xhr){
                                xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                            },  success: function (msg){
                                if(msg == null)
                                    $("#showCustomerSales").empty();
                                else
                                {
                                    console.log(msg);
                                    showCustomerSales(msg);
                                }


                            },
                            error:
                                function(data){

                                    console.log(data.responseText);
                                }
                        });

                    }

                });
            });

            /*]]>*/
        </script>

    </div>



    <div class="panel panel-default" th:fragment="partnerCustomerPayment">
        <div style="margin: 50px">

            <div class="row">
                <div class="container" id="datetimepicker1">
                    <div class='col-md-2'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <input type="text" class="form-control" id="datepickerStart" />
                                <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <input type="text" class="form-control" id="datepickerEnd" />
                                <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class="form-group">
                            <div class="form-check" >
                                <input type="checkbox" class="form-check-input" id="showAll" />
                                <label class="form-check-label" for="showAll" >Ցուցադրել բոլորը</label>
                            </div>
                        </div>
                    </div>

                    <input name="csrfToken" id="csrfToken"
                           type="hidden"

                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"
                    />
                </div>
            </div>
            <div id="customerPaymentShow" >

            </div>

        </div>
        <script th:inline="javascript" >
            /*<![CDATA[*/
            $( "#datepickerStart" ).datepicker();
            $( "#datepickerEnd" ).datepicker();

            $(document).ready(function() {
                var csrf_token = $('#datetimepicker1').find('input[name="_csrf"]').val();
                var datePickerStart = $( "#datepickerStart.hasDatepicker" ).datepicker("setDate",new Date( new Date().getFullYear(),new Date().getMonth(),1));
                var datePickerEnd = $( "#datepickerEnd.hasDatepicker" ).datepicker("setDate",new Date( new Date().getFullYear(),new Date().getMonth()+1,0));
                var DateRang ={
                    start:datePickerStart.datepicker("getDate"),
                    end:datePickerEnd.datepicker("getDate"),
                    showAll:Boolean($("#showAll").is(':checked'))
                }
                console.log(DateRang);

                $.ajax({
                    method : "POST",
                    contentType : "application/json",
                    url: '/account/partner/customer/payment/show',
                    dataType: 'json',
                    data :JSON.stringify(DateRang),
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                    },  success: function (msg){
                        if(msg == null)
                            $("#customerPaymentShow").empty();
                        else
                        {
                            console.log(msg);
                            customerPaymentShow(msg);
                        }


                    },
                    error:
                        function(data){

                            console.log(data.responseText);
                        }
                });
                datePickerStart.on("change", function() {
                    var DateRang ={
                        start:datePickerStart.datepicker("getDate"),
                        end:datePickerEnd.datepicker("getDate"),
                        showAll:Boolean($("#showAll").is(':checked'))
                    }
                    console.log(DateRang);

                    $.ajax({
                        method : "POST",
                        contentType : "application/json",
                        url: '/account/partner/customer/payment/show',
                        dataType: 'json',
                        data :JSON.stringify(DateRang),
                        beforeSend: function(xhr){
                            xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                        },  success: function (msg){
                            if(msg == null)
                                $("#customerPaymentShow").empty();
                            else
                            {
                                console.log(msg);
                                customerPaymentShow(msg);
                            }


                        },
                        error:
                            function(data){

                                console.log(data.responseText);
                            }
                    });
                });
                datePickerEnd.on("change", function() {
                    var DateRang ={
                        start:datePickerStart.datepicker("getDate"),
                        end:datePickerEnd.datepicker("getDate"),
                        showAll:Boolean($("#showAll").is(':checked'))
                    }
                    console.log(DateRang);

                    $.ajax({
                        method : "POST",
                        contentType : "application/json",
                        url: '/account/partner/customer/payment/show',
                        dataType: 'json',
                        data :JSON.stringify(DateRang),
                        beforeSend: function(xhr){
                            xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                        },  success: function (msg){
                            if(msg == null)
                                $("#customerPaymentShow").empty();
                            else
                            {
                                console.log(msg);
                                customerPaymentShow(msg);
                            }


                        },
                        error:
                            function(data){

                                console.log(data.responseText);
                            }
                    });
                });
                $('#showAll').change(function() {
                    if(this.checked) {
                        var DateRang ={
                            start:datePickerStart.datepicker("getDate"),
                            end:datePickerEnd.datepicker("getDate"),
                            showAll:Boolean($("#showAll").is(':checked'))
                        }
                        console.log(DateRang);

                        $.ajax({
                            method : "POST",
                            contentType : "application/json",
                            url: '/account/partner/customer/payment/show',
                            dataType: 'json',
                            data :JSON.stringify(DateRang),
                            beforeSend: function(xhr){
                                xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                            },  success: function (msg){
                                if(msg == null)
                                    $("#customerPaymentShow").empty();
                                else
                                {
                                    console.log(msg);
                                    customerPaymentShow(msg);
                                }


                            },
                            error:
                                function(data){

                                    console.log(data.responseText);
                                }
                        });

                    }else
                    {
                        var DateRang ={
                            start:datePickerStart.datepicker("getDate"),
                            end:datePickerEnd.datepicker("getDate"),
                            showAll:Boolean($("#showAll").is(':checked'))
                        }
                        console.log(DateRang);

                        $.ajax({
                            method : "POST",
                            contentType : "application/json",
                            url: '/account/partner/customer/payment/show',
                            dataType: 'json',
                            data :JSON.stringify(DateRang),
                            beforeSend: function(xhr){
                                xhr.setRequestHeader("X-CSRF-TOKEN",  csrf_token);
                            },  success: function (msg){
                                if(msg == null)
                                    $("#customerPaymentShow").empty();
                                else
                                {
                                    console.log(msg);
                                    customerPaymentShow(msg);
                                }


                            },
                            error:
                                function(data){

                                    console.log(data.responseText);
                                }
                        });

                    }

                });
            });

            /*]]>*/
        </script>

    </div>




    <div class="panel panel-default" th:fragment="companyCustomerCreate" >

        <form th:object="${companyCustomer}" action="/account/partner/customer/create/companycustomer"  method="post" >
            <div style="margin: 50px">
                <div class="form-group row ">
                    <label for="clientOrganizationName" class=" col-md-4 col-form-label" >Անվանում</label>
                        <div class="col-md-6" >
                            <input id="clientOrganizationName"
                                   class="form-control"
                                   type="text"
                                   th:name=  "clientOrganizationName"
                                   th:field="*{clientOrganization.clientOrganizationName}"
                            />
                            <small th:if="${#fields.hasErrors('clientOrganization.clientOrganizationName')}" th:errors="*{clientOrganization.clientOrganizationName}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="hvhh" class=" col-md-4 col-form-label" >ՀՎՀՀ</label>
                        <div class="col-md-6" >
                            <input id="hvhh"
                                   class="form-control"
                                   type="text"
                                   th:name="hvhh"
                                   th:field="*{hvhh}"
                            />
                            <small th:if="${#fields.hasErrors('hvhh')}" th:errors="*{hvhh}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="taxType" class=" col-md-4 col-form-label" >Հարկման կարգ</label>
                        <div class="col-md-6" >
                            <select id="taxType"
                                    class="form-control"
                                    th:name="taxType"
                                    th:field="*{taxType}">
                                        <option value="ircleTaxPayer">Շրջանառության հարկ վճարող</option>
                                        <option value="patentFeePayer">Արտոնագրային վճար վճարող</option>
                                        <option value="fixedFeePayer">Հաստատագրված վճար վճարող</option>
                                        <option value="AddedValueTaxPayer">Ավելացված արժեքի հարկ վճարող</option>
                            </select>
                            <small th:if="${#fields.hasErrors('taxType')}" th:errors="*{taxType}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="openingBalanceType" class=" col-md-4 col-form-label" >Սկզբնական մնացորդի տեսակ</label>
                        <div class="col-md-6" >
                            <select id="openingBalanceType"
                                    class="form-control"
                                    th:name="openingBalanceType"
                                    th:field="*{openingBalanceType}">
                                        <option value="debt">Պարտք</option>
                                        <option value="prepaid">Կանխավճար</option>
                            </select>
                            <small th:if="${#fields.hasErrors('openingBalanceType')}" th:errors="*{openingBalanceType}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="openingBalance" class=" col-md-4 col-form-label" >Սկզբնական մնացորդ</label>
                        <div class="col-md-6" >
                            <input id="openingBalance"
                                   class="form-control"
                                   type="text"
                                   th:name="openingBalance"
                                   th:field="*{openingBalance}"
                            />
                            <small th:if="${#fields.hasErrors('openingBalance')}" th:errors="*{openingBalance}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="bankAccount" class=" col-md-4 col-form-label" >Բանկային հաշիվ</label>
                        <div class="col-md-6" >
                            <input id="bankAccount"
                                   class="form-control"
                                   type="text"
                                   th:name="bankAccount"
                                   th:field="*{bankAccount}"
                            />
                            <small th:if="${#fields.hasErrors('bankAccount')}" th:errors="*{bankAccount}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="address" class=" col-md-4 col-form-label" >Հասցե</label>
                        <div class="col-md-6" >
                            <input id="address"
                                   class="form-control"
                                   type="text"
                                   th:name="address"
                                   th:field="*{address}"
                            />
                            <small th:if="${#fields.hasErrors('address')}" th:errors="*{address}"  class="form-text text-danger" />
                        </div>
                </div>

                <input
                        type="hidden"
                        th:field="*{id}"
                        th:value="${id}"
                />
                <input
                        type="hidden"
                        th:field="*{organization}"
                        th:value="${organization}"
                />
                <input
                        type="hidden"
                        th:field="*{clientOrganization}"
                        th:value="${clientOrganization}"
                />
                <input name="csrfToken" id="csrfToken"
                       type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"
                />


                <input type="submit" class="btn btn-default" />
            </div>
        </form >

    </div>
    <div class="panel panel-default" th:fragment="privateEntrepreneurCustomerCreate" >

        <form th:object="${privateEntrepreneurCustomer}" action="/account/partner/customer/create/privateentrepreneurcustomer"  method="post" >
            <div style="margin: 50px">
                <div class="form-group row ">
                    <label for="privateEntrepreneurName" class=" col-md-4 col-form-label" >Անվանում</label>
                        <div class="col-md-6" >
                            <input id="privateEntrepreneurName"
                                   class="form-control"
                                   type="text"
                                   th:name="privateEntrepreneurName"
                                   th:field="*{privateEntrepreneurName}"
                            />
                            <small th:if="${#fields.hasErrors('privateEntrepreneurName')}" th:errors="*{privateEntrepreneurName}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="hvhh" class=" col-md-4 col-form-label" >ՀՎՀՀ</label>
                        <div class="col-md-6" >
                            <input id="hvhh"
                                   class="form-control"
                                   type="text"
                                   th:name="hvhh"
                                   th:field="*{hvhh}"
                            />
                            <small th:if="${#fields.hasErrors('hvhh')}" th:errors="*{hvhh}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="taxType" class=" col-md-4 col-form-label" >Հարկման կարգ</label>
                        <div class="col-md-6" >
                            <select id="taxType"
                                    class="form-control"
                                    th:name="taxType"
                                    th:field="*{taxType}">
                                        <option value="ircleTaxPayer">Շրջանառության հարկ վճարող</option>
                                        <option value="patentFeePayer">Արտոնագրային վճար վճարող</option>
                                        <option value="fixedFeePayer">Հաստատագրված վճար վճարող</option>
                                        <option value="AddedValueTaxPayer">Ավելացված արժեքի հարկ վճարող</option>
                            </select>
                            <small th:if="${#fields.hasErrors('taxType')}" th:errors="*{taxType}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="taxType" class=" col-md-4 col-form-label" >Սկզբնական մնացորդի տեսակ</label>
                        <div class="col-md-6" >
                            <select id="taxType"
                                    class="form-control"
                                    th:name="openingBalanceType"
                                    th:field="*{openingBalanceType}">
                                        <option value="debt">Պարտք</option>
                                        <option value="prepaid">Կանխավճար</option>
                            </select>
                            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="openingBalance" class=" col-md-4 col-form-label" >Սկզբնական մնացորդ</label>
                        <div class="col-md-6" >
                            <input id="openingBalance"
                                   class="form-control"
                                   type="text"
                                   th:name="openingBalance"
                                   th:field="*{openingBalance}"
                            />
                            <small th:if="${#fields.hasErrors('openingBalance')}" th:errors="*{openingBalance}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="bankAccount" class=" col-md-4 col-form-label" >Բանկային հաշիվ</label>
                        <div class="col-md-6" >
                            <input id="bankAccount"
                                   class="form-control"
                                   type="text"
                                   th:name="bankAccount"
                                   th:field="*{bankAccount}"
                            />
                            <small th:if="${#fields.hasErrors('bankAccount')}" th:errors="*{bankAccount}"  class="form-text text-danger" />
                        </div>
                </div>

                <div class="form-group row ">
                    <label for="address" class=" col-md-4 col-form-label" >Հասցե</label>
                        <div class="col-md-6" >
                            <input id="address"
                                   class="form-control"
                                   type="text"
                                   th:name="address"
                                   th:field="*{address}"
                            />
                            <small th:if="${#fields.hasErrors('address')}" th:errors="*{address}"  class="form-text text-danger" />
                        </div>
                </div>

                <input
                        type="hidden"
                        th:field="*{id}"
                        th:value="${id}"
                />
                <input
                        type="hidden"
                        th:field="*{organization}"
                        th:value="${organization}"
                />
                <input name="csrfToken" id="csrfToken"
                       type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"
                />


                <input type="submit" class="btn btn-default" />
            </div>
        </form >

    </div>
</body>
</html>