<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:href="@{/static/bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet" />

    <script th:inline="javascript">
        /*<![CDATA[*/

        var addresses = [[${addresses}]];
        console.log(addresses);

        /*]]>*/
    </script>
</head>
<body>
<div class="container" >
    <h1>Employee Create</h1>

    <form id="employee" method="post" th:object="${employee}"  enctype="application/x-www-form-urlencoded ">

        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
            <p th:each="err : ${#fields.detailedErrors()}" th:text="${err.getFieldName()}"></p>

        </div>


        <label>Անվանում</label>
        <input th:style="*{#fields.hasErrors('employeeName') ? 'border-color: red ;' : ''}"
               type="text"
               th:name="employeeName"
               th:field="*{employeeName}"
               placeholder="Անվանում " />

        <br/>
        <label>ՀԾՀ</label>
        <input th:style="*{#fields.hasErrors('hch') ? 'border-color: red ;' : ''}"
               type="text"
               th:name="hch"
               th:field="*{hch}"
               placeholder=" Մուտքագրեք հծհ 10 նիշ "/>
        <br/>
        <label>Գրանցման համար</label>
        <input
               th:style="*{#fields.hasErrors('registrationNumber') ? 'border-color: red;' : ''}"
               th:name="registrationNumber"
               th:field="*{registrationNumber}"
               type="text"
               placeholder=" Մուտքագրեք գրանցման համար 16 նիշ "/>
        <br/>


        <label>Գրանցման ամսաթիվ</label>
        <input th:style="*{#fields.hasErrors('registrationDate') ? 'border-color: red;' : ''}"
               type="date"
               th:field="*{registrationDate}"
               th:name="registrationDate"/>
        <br/>


        <label>Վկայականի համար</label>
        <input type="text"
               th:style="*{#fields.hasErrors('certificateNumber') ? 'border-color: red;' : ''}"
               th:name="certificateNumber"
               th:field="*{certificateNumber}"
               placeholder=" Վկայականի համար 10 նիշ "/>
        <br/>

        <label>ՀՎՀՀ</label>
        <input type="text"
               th:style="*{#fields.hasErrors('taxpayerIdentificationNumber') ? 'border-color: red;' : ''}"
               th:name="taxpayerIdentificationNumber"
               th:field="*{taxpayerIdentificationNumber}"
               placeholder=" ՀՀՎՀ համար 8 նիշ "/>
        <br/>

        <label>Սկզբն. մնացորդների ամսաթիվ</label>
        <input type="date"
               th:style="*{#fields.hasErrors('dateOfOpeningBalances') ? 'border-color: red;' : ''}"
               th:field="*{dateOfOpeningBalances}"
               th:name="dateOfOpeningBalances"/>


        <br />
        <label>Գործունեության հասցե</label>
        <input type="text"
               th:style="*{#fields.hasErrors('actingAddress') ? 'border-color: red;' : ''}"
               th:field="*{actingAddress}"
               th:name="actingAddress"
                placeholder="Գործունեության հասցե" />
        <br />

        <br />

        <label>Իրավաբանական հասցե</label>
        <div id="address">
            <div id="cityes">
                <select id="selectCityes" required="required" placeholder="Ընտրեք քաղաքը">
                    <option></option>
                </select>

            </div>
            <div id="regions">

                <select id="regionSelect" required="required">
                    <option placeholder="Ընտրեք տարածաշրջանը"></option>
                </select>
            </div>
            <div id="street">
                <input type="text" id="stritFleet" placeholder="փողոցի անուն , շենք կամ տուն "/>

            </div>
            <br/>
            <input type="text"
                   th:id="juridicalAddress"
                   th:style="*{#fields.hasErrors('juridicalAddress') ? 'border-color: red;' : ''}"
                   th:field="*{juridicalAddress}"
                   th:name="juridicalAddress"/>
        </div>

        <label>Շրջանառության հարկ վճարող Տեսակ</label>
        <input type="text"
               th:style=" *{#fields.hasErrors('circleTax.circleTaxType') ? 'border-color: red;' : ''}"
               th:name="circleTaxType"
               th:field="*{circleTax.circleTaxType}"
               placeholder=" Շրջհարկի տեսակ "
        />
        <br/>
        <br/>
        <br/>
        <label>Շրջանառության հարկ վճարող</label>
        <input type="text"
               th:style=" *{#fields.hasErrors('circleTax.circleTaxPayer') ? 'border-color: red;' : ''}"
               th:name="circleTaxPayer"
               placeholder=" Շրջհարկի տեսակ "
               th:field="*{circleTax.circleTaxPayer}"
        />
        <br/>


        <label>Տնտեսական գործունեության տեսակների դասակարգիչ</label>
        <input type="text"
               th:style="*{#fields.hasErrors('circleTax.circleTaxClassificationOfEconomicActivity') ? 'border-color: red;' : ''}"
               th:name="circleTaxClassificationOfEconomicActivity"
               th:field="*{circleTax.circleTaxClassificationOfEconomicActivity}"
               placeholder=" գործունեության տեսակների դասակարգիչ"/>
        <br/>

        <label>Գործունեության վայր / հասցե</label>
        <input type="text"
               th:style="*{#fields.hasErrors('circleTax.circleTaxActionAddress') ? 'border-color: red;' : ''}"
               th:name="circleTaxActionAddress"
               th:field="*{circleTax.circleTaxActionAddress}"
               placeholder=" Գործունեության վայր / հասցե "

        />
        <br/>

        <label>Գործունեության ոլորտի նկարագրություն</label>
        <input type="text"
               th:style="*{#fields.hasErrors('circleTax.circleTaxTypeDesc') ? 'border-color: red;' : ''}"
               th:name="circleTaxTypeDesc"
               th:field="*{circleTax.circleTaxTypeDesc}"
               placeholder="Գործունեության ոլորտի նկարագրություն"/>

        <input name="csrfToken" id="csrfToken"
               type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>


        <br />
        <input type="submit"/>

    </form>




   <!-- <form id="circleTax" style="display: none;" method="post" th:object="${circleTax}"  enctype="application/x-www-form-urlencoded ">

    <label>Շրջանառության հարկ վճարող Տեսակ</label>
    <input type="text"
           th:style=" *{#fields.hasErrors('circleTaxType') ? 'border-color: red;' : ''}"
           th:name="circleTaxType"
           th:field="*{circleTaxType}"
           placeholder=" Շրջհարկի տեսակ "
    />
    <br/>

    <label>Շրջանառության հարկ վճարող</label>
    <input type="text"
           th:style=" *{#fields.hasErrors('circleTaxPayer') ? 'border-color: red;' : ''}"
           th:name="circleTaxPayer"
           placeholder=" Շրջհարկի տեսակ "
           th:field="*{circleTaxPayer}"
    />
    <br/>


    <label>Տնտեսական գործունեության տեսակների դասակարգիչ</label>
    <input type="text"
           th:style="*{#fields.hasErrors('circleTaxClassificationOfEconomicActivity') ? 'border-color: red;' : ''}"
           th:name="circleTaxClassificationOfEconomicActivity"
           th:field="*{circleTaxClassificationOfEconomicActivity}"
           placeholder=" գործունեության տեսակների դասակարգիչ"/>
    <br/>

    <label>Գործունեության վայր / հասցե</label>
    <input type="text"
           th:style="*{#fields.hasErrors('circleTaxActionAddress') ? 'border-color: red;' : ''}"
           th:name="circleTaxActionAddress"
           th:field="*{circleTaxActionAddress}"
           placeholder=" Գործունեության վայր / հասցե "

    />
    <br/>

    <label>Գործունեության ոլորտի նկարագրություն</label>
    <input type="text"
           th:style="*{#fields.hasErrors('circleTaxTypeDesc') ? 'border-color: red;' : ''}"
           th:name="circleTaxTypeDesc"
           th:field="*{circleTaxTypeDesc}"
           placeholder="Գործունեության ոլորտի նկարագրություն"/>
    <br/>

    <input name="csrfToken" id="csrfToken2"
           type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>
    <input type="submit"/>
    </form>-->

</div>
<script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
<script th:inline="javascript" th:src="@{/static/js/employeeCreate.js}"></script>
<script th:src="@{/static/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
<!--<script type="text/javascript">-->
<!--alert($("#csrfToken").val());-->
<!--</script>-->

</body>
</html>