<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8" />
    <title>Title</title>
    <meta name="description" content="Создание адаптивного сайта" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/static/bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/static/css/main.css} "  rel="stylesheet" />
    <link th:href="@{/static/css/media.css}" rel="stylesheet" />
    <link th:href="@{/static/fullcalendar-3.8.0/fullcalendar.css}" rel="stylesheet" />
    <script th:src="@{/static/js/jquery-3.2.1.min.js}" />
    <script>
        $(document).ready(function() {



            $('#calendar').fullCalendar({

            })

        });
    </script>

</head>
<body th:object="${employee}">


<div th:replace="fragments/appFragment :: startHeader " />






<div class="container">
    <nav role="navigation" class="navbar-justified">

        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav nav-justified">
                <li><a  th:href="@{'/account/organization/index/' + ${employee.id}}" id="current" >Ընթացիկ</a></li>
                <li><a  th:href="@{' /account/organization/details/' + ${employee.id}}" id="details">Տվյալներ</a></li>
                <li><a href="#" id="himnakan">Հիմնական միջոցներ</a></li>
            </ul>
        </div>

    </nav>
</div>

<div th:replace="fragments/appFragment :: ${fragment}" />



<script th:src="@{/static/fullcalendar-3.8.0/lib/moment.min.js}" />
<script th:src="@{/static/fullcalendar-3.8.0/fullcalendar.js}" />
<script th:src="@{/static/js/app.js}" />
</body>
</html>